<div class="container-fluid">
  <div>
    <div>
      <div class="row col-md-12">
        <div class="col-md-2">
          <ejs-multiselect id='multiselectelement' [dataSource]='PracticeData' [fields]='practices' placeholder='Select Practice' (change)="filterBasedonPractice($event)"></ejs-multiselect>
        </div>
        <div class="col-md-2">
          <ejs-multiselect id='multiselectelement' [dataSource]='LocationData' [fields]='locations' placeholder='Select Locations' (change)="filterBasedonLocation($event)"></ejs-multiselect>
        </div>
        <div class="col-md-2">
          <ejs-multiselect id='multiselectelement' [dataSource]='ProviderData' [fields]='providers' placeholder='Select a Providers' (change)="filterBasedonProviders($event)"></ejs-multiselect>
        </div>
        <div class="col-md-2">
          <ejs-multiselect id='multiselectelement' [dataSource]='SpecialtyData' [fields]='specialties' placeholder='Select Speciality' (change)="filterBasedonSpeciality($event)"></ejs-multiselect>
        </div>
        <div class="col-md-2">
          <h5 (click)="ShowMoreFilters()" style="cursor: pointer;">More Filters <i *ngIf="!displaymorefilters" class="fa fa-dropdown-down"></i>
            <i *ngIf="displaymorefilters" class="fa fa-dropdown-up"></i>
          </h5>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" id="btnSearchProvider" (click)="OnSelctedFilter()"><span class="fa fa-search"></span>Search</button>
        </div>
      </div>
    </div>
    <div *ngIf="displaymorefilters">
      <div class="row col-md-12">
        <div class="col-md-2">
          <span>
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <i class="fa fa-calendar-times-o fa-lg" aria-hidden="true"></i>
            <input id="DatePicker" type="text" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col-md-1">
          <ejs-checkbox #checkbox label="Clinical" ></ejs-checkbox>
        </div>
        <div class="col-md-1">
          <ejs-checkbox #checkbox label="PT" ></ejs-checkbox>
        </div>
        <div class="col-md-1">
          <ejs-checkbox #checkbox label="DX" ></ejs-checkbox>
        </div>
        <div class="col-md-1">
          <ejs-checkbox #checkbox label="Concierge" ></ejs-checkbox>
        </div>
        <div class="col-md-2">
          <ejs-dropdownlist id='ddlelement' [dataSource]='AppointmentType' [fields]='locations'  placeholder='Scheduler Start Time'  (change)="filterBasedonLocation($event)"></ejs-dropdownlist>
        </div>
        <div class="col-md-2">
          <ejs-dropdownlist id='ddlelement' [dataSource]='AppointmentType' [fields]='locations'  placeholder='Scheduler End Time'  (change)="filterBasedonLocation($event)"></ejs-dropdownlist>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="control-section">
  <ejs-schedule  #scheduleObj cssClass='schedule-group-editing' width='100%' height='650px' [group]="group" [selectedDate]="selectedDate" [(eventSettings)]="eventSettings"
  [allowResizing]="allowResizing" [allowDragAndDrop]="allowDragDrop" [showQuickInfo]='showQuickInfo' [timeScale]="timeScale" style="cursor: pointer;" >
  <e-resources>
    <e-resource field='PracticeLocationId' title='Attendees' name='Conferences' [allowMultiple]='allowMultiple' [(dataSource)]='locationResourceDataSource'
      textField='Text' idField='Id' colorField='Color'>
    </e-resource>
    <e-resource field='ProviderId' title='Category' name='Categories' [(dataSource)]='resourceDataSource' [allowMultiple]='allowMultiple'
    textField='Data' idField='Id' colorField='color'>
  </e-resource>
  </e-resources>
    <ng-template #resourceHeaderTemplate let-data>
      <div class='template-wrap'>
        <div class="resource-details">
          <div class="resource-name">{{getEmployeeName(data)}}</div>
        </div>
      </div>
    </ng-template>
    <e-views>
      <e-view option="Day"></e-view>
      <e-view option="Week"></e-view>
      <e-view option="Month">
        <ng-template #eventTemplate let-data>
          <div class="subject" *ngIf="data.Status == 'Approved'">
            <span class="badge badge-success" style="font-size: 14px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;"
              title="Approved">A</span>{{data.Status.length}}
          </div>
          <div class="subject" *ngIf="data.Status == 'pending'">
            <span class="badge badge-warning" style="font-size: 14px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;"
              title="Pending">P</span>{{data.Status.length}}
          </div>
          <div class="subject" *ngIf="data.Status == 'checked-In'">
            <span class="badge badge-info" style="font-size: 14px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;"
              title="checked-In">C</span>{{data.Status.length}}
          </div>
        </ng-template>
      </e-view>
      <e-view option="Agenda">
        <ng-template #eventTemplate let-data>
          <table class="table table-striped">
            <thead>
              <th>Id</th>
              <th>Subject</th>
              <th>StartTime</th>
              <th>EndTime</th>
              <th>status</th>
            </thead>
            <tbody>
              <tr class="subject" *ngFor="let item of patientData">
                <td>{{item.Id}}</td>
                <td>{{item.PatientName}}</td>
                <td>{{item.StartTime}}</td>
                <td>{{item.EndTime}}</td>
                <td>{{item.Status}}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
        <!-- <ng-template #eventTemplate>
          <ejs-grid [dataSource]='patientData'  >
            <e-columns >
              <e-column field='Id' headerText='Id' textAlign='center' width=90></e-column>
              <e-column field='PatientName' headerText='PatientName' width=120></e-column>
              <e-column field='StartTime' headerText='StartTime' textAlign='center' format='yMd' width=90></e-column>
              <e-column field='EndTime' headerText='EndTime' textAlign='center' format='yMd' width=120></e-column>
              <e-column field='status' headerText='status' textAlign='center' width=120></e-column>
            </e-columns>
          </ejs-grid>
        </ng-template> -->
      </e-view>
    </e-views>


    <ejs-schedule [timeScale]="timeScale" >
      <ng-template #timeScaleMajorSlotTemplate let-data>
        <div class="majorTime">{{getMajorTime(data.date)}}</div>
      </ng-template>
      <ng-template #timeScaleMinorSlotTemplate let-data>
        <div class="minorTime">{{getMinorTime(data.date)}}</div>
      </ng-template>
    </ejs-schedule>
    <ng-template #editorTemplate let-data >
      <div class="modal-header" >
        <h3  style="text-transform: none; text-align: center; font-weight: 1000;margin-top: -2px;">Schedule An Appointment</h3>
        <a style="width: 60px; background: red;color: white; margin-top: -2px;" class="btn btn-danger pull-right" (click)="closeEditModal()">Close</a>
      </div>
        <app-schedule-appointment></app-schedule-appointment>
    </ng-template>
  </ejs-schedule>
  <ejs-contextmenu #menuObj  target='.e-schedule' [items]='menuItems' (beforeOpen)='onContextMenuBeforeOpen($event)'
    (select)='onMenuItemSelect($event)'></ejs-contextmenu>


  <p-dialog id="appointDialog" [(visible)]="openEditPopup" [modal]="true" [responsive]="true" [maximizable]="false"
  [closable]="false" blockScroll="false" >
    <p-header>
      <div class="head">
        <a href="javascript:void(0)" class="btn btn-danger pull-right"
          (click)="closeEditPopup()" style="width: 60px; background: red;color: white;">close</a>
        <h5 style="text-transform: none; text-align: center; font-weight: 1000;">Appointment</h5>
      </div>
    </p-header>
    <div class="modal-body">
      <form [formGroup]="editPopUpData" (ngSubmit)= "saveEditedData()">
        <div id="dvAddAppointment">
          <div class="row" id="dvSurgeryPatientDetails">
            <div class="col-md-12">
              <div style="background-color: #337ab7;">
                <div class="row" style="margin-left: 10px;">
                  <h3 style="color: white;">{{patientName}}
                    <span>(Y200217392_1) </span>
                    <span>MRN : Y200217392</span>
                  </h3>
                </div>
                <div class="row" style="font-weight: bold; margin-left: 10px;">
                  <span style="color: white;"></span>
                  <span style="color: white;">Commercial</span>
                </div>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-4">
              <label>Appointment Type<span style="color: red">*</span></label>
              <select class="form-control ddlmemberlanguage chosen-select" formControlName="AppointmentType" (change)="onSelectAppointmentType()">
                <option [ngValue]=null>Select</option>
                <option value="Admin Request" >Admin Request</option>
                <option value="APOS Therapy" >APOS Therapy</option>
                <option value="Apos Therapy Initial visit" >Apos Therapy Initial visit</option>
                <option value="Blocked Time To Review Recommendation" >Blocked Time To Review Recommendation</option>
                <option value="Physical Therapy" >Physical Therapy</option>
                <option value="Initial Evaluation">Initial Evaluation</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Location<span style="color: red">*</span></label>
              <select class="form-control ddlmemberlanguage chosen-select" formControlName="Location">
                <option [ngValue]=null>Select Location</option>
                <option value="Flemington Neuro" >Flemington Neuro</option>
                <option value="54 DEAN" >54 DEAN</option>
                <option value="38 Astoria" >38 Astoria</option>
                <option value="100A Liv Brooklyn" >100A Liv Brooklyn</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Provider / Physician Assistant</label>
              <div class="input-group">
                <input class="form-control" class="form-control appointmentSectionModified" id="txtprovider" disabled="disabled" formControlName="providerPhysicianAssistant">
                <span class="input-group-addon">
                  <a  (click)="openEditAddPopup()" class="fa fa-search" id="btnSearchprovider" title="Search Provider"></a>
                </span>
              </div>
              <span class="hide showprovidermandatorytomovecheckin" style="color: red;">select provider to move appointment to check in</span>
            </div>
          </div><br><br><br>
          <div class="row">
            <div class="table-responsive white_section" style="overflow-x: inherit !important">
              <label style="margin-left: 10px;">Appointment Details (Best date(s) and time(s) of appointment) </label>
              <table class="table timetable_big" id="tblAppointmentFileds">
                <thead>
                  <tr>
                    <th>Preferred Date</th>
                    <th>Start Time <span style="color: red;">*</span></th>
                    <th>End Time <span style="color: red;">*</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="trTimeSlots">
                    <td>
                      <input type="text" class="form-control" placeholder="Schedule date" formControlName="preferredDate" bsDatepicker (bsValueChange)="onValueChange($event)">
                    </td>
                    <td>
                      <select class="form-control ddlmemberlanguage chosen-select" id="LocationId" name="LocationId" formControlName="StartTime">
                        <option [ngValue]=null>Select Time</option>
                        <option value="04:00">04:00 AM</option>
                        <option value="04:15">04:15 AM</option>
                        <option value="04:30">04:30 AM</option>
                        <option value="04:45">04:45 AM</option>
                        <option value="05:00">05:00 AM</option>
                        <option value="05:15">05:15 AM</option>
                        <option value="05:30">05:30 AM</option>
                        <option value="05:45">05:45 AM</option>
                        <option value="06:00">06:00 AM</option>
                        <option value="06:15">06:15 AM</option>
                        <option value="06:30">06:30 AM</option>
                        <option value="06:45">06:45 AM</option>
                        <option value="07:00">07:00 AM</option>
                        <option value="07:15">07:15 AM</option>
                        <option value="07:30">07:30 AM</option>
                        <option value="07:45">07:45 AM</option>
                        <option value="08:00">08:00 AM</option>
                        <option value="08:15">08:15 AM</option>
                        <option value="08:30">08:30 AM</option>
                        <option value="08:45">08:45 AM</option>
                        <option value="09:00">09:00 AM</option>
                        <option value="09:15">09:15 AM</option>
                        <option value="09:30">09:30 AM</option>
                        <option value="09:45">09:45 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="10:15">10:15 AM</option>
                        <option value="10:30">10:30 AM</option>
                        <option value="10:45">10:45 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="11:15">11:15 AM</option>
                        <option value="11:30">11:30 AM</option>
                        <option value="11:45">11:45 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="12:15">12:15 PM</option>
                        <option value="12:30">12:30 PM</option>
                        <option value="12:45">12:45 PM</option>
                        <option value="13:00">01:00 PM</option>
                        <option value="13:15">01:15 PM</option>
                        <option value="13:30">01:30 PM</option>
                        <option value="13:45">01:45 PM</option>
                        <option value="14:00">02:00 PM</option>
                        <option value="14:15">02:15 PM</option>
                        <option value="14:30">02:30 PM</option>
                        <option value="14:45">02:45 PM</option>
                        <option value="15:00">03:00 PM</option>
                        <option value="15:15">03:15 PM</option>
                        <option value="15:30">03:30 PM</option>
                        <option value="15:45">03:45 PM</option>
                        <option value="16:00">04:00 PM</option>
                        <option value="16:15">04:15 PM</option>
                        <option value="16:30">04:30 PM</option>
                        <option value="16:45">04:45 PM</option>
                        <option value="17:00">05:00 PM</option>
                        <option value="17:15">05:15 PM</option>
                        <option value="17:30">05:30 PM</option>
                        <option value="17:45">05:45 PM</option>
                        <option value="18:00">06:00 PM</option>
                        <option value="18:15">06:15 PM</option>
                        <option value="18:30">06:30 PM</option>
                        <option value="18:45">06:45 PM</option>
                        <option value="19:00">07:00 PM</option>
                        <option value="19:15">07:15 PM</option>
                        <option value="19:30">07:30 PM</option>
                        <option value="19:45">07:45 PM</option>
                        <option value="20:00">08:00 PM</option>
                        <option value="20:15">08:15 PM</option>
                        <option value="20:30">08:30 PM</option>
                        <option value="20:45">08:45 PM</option>
                        <option value="21:00">09:00 PM</option>
                        <option value="21:15">09:15 PM</option>
                        <option value="21:30">09:30 PM</option>
                        <option value="21:45">09:45 PM</option>
                        <option value="22:00">10:00 PM</option>
                        <option value="22:15">10:15 PM</option>
                        <option value="22:30">10:30 PM</option>
                        <option value="22:45">10:45 PM</option>
                        <option value="23:00">11:00 PM</option>
                        <option value="23:15">11:15 PM</option>
                        <option value="23:30">11:30 PM</option>
                        <option value="23:45">11:45 PM</option>
                        <option value="24:00">12:00 AM</option>
                        <option value="24:15">12:15 AM</option>
                        <option value="24:30">12:30 AM</option>
                        <option value="24:45">12:45 AM</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control ddlmemberlanguage chosen-select" id="LocationId" name="LocationId" formControlName="EndTime">
                        <option [ngValue]=null>Select Time</option>
                        <option value="04:00">04:00 AM</option>
                        <option value="04:15">04:15 AM</option>
                        <option value="04:30">04:30 AM</option>
                        <option value="04:45">04:45 AM</option>
                        <option value="05:00">05:00 AM</option>
                        <option value="05:15">05:15 AM</option>
                        <option value="05:30">05:30 AM</option>
                        <option value="05:45">05:45 AM</option>
                        <option value="06:00">06:00 AM</option>
                        <option value="06:15">06:15 AM</option>
                        <option value="06:30">06:30 AM</option>
                        <option value="06:45">06:45 AM</option>
                        <option value="07:00">07:00 AM</option>
                        <option value="07:15">07:15 AM</option>
                        <option value="07:30">07:30 AM</option>
                        <option value="07:45">07:45 AM</option>
                        <option value="08:00">08:00 AM</option>
                        <option value="08:15">08:15 AM</option>
                        <option value="08:30">08:30 AM</option>
                        <option value="08:45">08:45 AM</option>
                        <option value="09:00">09:00 AM</option>
                        <option value="09:15">09:15 AM</option>
                        <option value="09:30">09:30 AM</option>
                        <option value="09:45">09:45 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="10:15">10:15 AM</option>
                        <option value="10:30">10:30 AM</option>
                        <option value="10:45">10:45 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="11:15">11:15 AM</option>
                        <option value="11:30">11:30 AM</option>
                        <option value="11:45">11:45 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="12:15">12:15 PM</option>
                        <option value="12:30">12:30 PM</option>
                        <option value="12:45">12:45 PM</option>
                        <option value="13:00">01:00 PM</option>
                        <option value="13:15">01:15 PM</option>
                        <option value="13:30">01:30 PM</option>
                        <option value="13:45">01:45 PM</option>
                        <option value="14:00">02:00 PM</option>
                        <option value="14:15">02:15 PM</option>
                        <option value="14:30">02:30 PM</option>
                        <option value="14:45">02:45 PM</option>
                        <option value="15:00">03:00 PM</option>
                        <option value="15:15">03:15 PM</option>
                        <option value="15:30">03:30 PM</option>
                        <option value="15:45">03:45 PM</option>
                        <option value="16:00">04:00 PM</option>
                        <option value="16:15">04:15 PM</option>
                        <option value="16:30">04:30 PM</option>
                        <option value="16:45">04:45 PM</option>
                        <option value="17:00">05:00 PM</option>
                        <option value="17:15">05:15 PM</option>
                        <option value="17:30">05:30 PM</option>
                        <option value="17:45">05:45 PM</option>
                        <option value="18:00">06:00 PM</option>
                        <option value="18:15">06:15 PM</option>
                        <option value="18:30">06:30 PM</option>
                        <option value="18:45">06:45 PM</option>
                        <option value="19:00">07:00 PM</option>
                        <option value="19:15">07:15 PM</option>
                        <option value="19:30">07:30 PM</option>
                        <option value="19:45">07:45 PM</option>
                        <option value="20:00">08:00 PM</option>
                        <option value="20:15">08:15 PM</option>
                        <option value="20:30">08:30 PM</option>
                        <option value="20:45">08:45 PM</option>
                        <option value="21:00">09:00 PM</option>
                        <option value="21:15">09:15 PM</option>
                        <option value="21:30">09:30 PM</option>
                        <option value="21:45">09:45 PM</option>
                        <option value="22:00">10:00 PM</option>
                        <option value="22:15">10:15 PM</option>
                        <option value="22:30">10:30 PM</option>
                        <option value="22:45">10:45 PM</option>
                        <option value="23:00">11:00 PM</option>
                        <option value="23:15">11:15 PM</option>
                        <option value="23:30">11:30 PM</option>
                        <option value="23:45">11:45 PM</option>
                        <option value="24:00">12:00 AM</option>
                        <option value="24:15">12:15 AM</option>
                        <option value="24:30">12:30 AM</option>
                        <option value="24:45">12:45 AM</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-12">
              <label>Appointment Memo</label>
              <textarea id="txtAppointmentMemo" class="form-control" maxlength="2000" disabled=""></textarea>
            </div>
          </div><br><br><br>

          <div  id="dvAppointmentReschduled"  *ngIf="displayReason">
            <div class="row col-md-12">
              <div class="col-md-6">
                <label>Reason<span style="color: red">*</span></label>
                <select class="form-control ddlmemberlanguage chosen-select" id="LocationId" name="LocationId" formControlName="reason">
                  <option [ngValue]=null>Select</option>
                  <option value="1">Rescheduled on patient request.</option>
                  <option value="2">No Show</option>
                  <option value="3">Rescheduled on provider request.</option>
                  <option value="4">Other</option>
                  <option value="5">Transfer to Hospital</option>
                  <option value="6">Transfer to PCP</option>
                  <option value="7">Transfer Other</option>
                  <option value="8">Authorization Denied</option>
                  <option value="9">As per patient request</option>
                </select>
              </div>
              <div class="col-md-6" id="dvAppointmentResheduledReasonDesc">
                <label>Description<span class="reasondesc hide" style="color: red">*</span></label>
                <textarea class="form-control" placeholder="Description" id="txtAppointmentResheduledReasonDesc" maxlength="200" rows="3" cols="20" style="height: 50px;"
                formControlName="description"></textarea>
              </div>
            </div>
          </div>
            <br><br><br><br><br>
              <div class="row pull-right">
                <input type="submit" class="btn btn-success btnprocessing " value="Save"/>
            </div>
        </div>
      </form>
    </div>
  </p-dialog>

  <p-dialog id="appointDialog" [(visible)]="openEditAddPopupdisp" [modal]="true" [responsive]="true" [maximizable]="false" [closable]="false" blockScroll='false' >
    <p-header>
      <div class="head">
        <a href="javascript:void(0)" class="btn btn-danger pull-right"
          (click)="closeEditAddPopup()" style="width: 60px; background: red;color: white;">close</a>
        <h5 style="text-transform: none; text-align: center; font-weight: 1000;">Search Provider / Physician Assistant</h5>
      </div>
    </p-header>
    <form [formGroup]="searchProvider" (ngSubmit)="onSearchProvider()">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <label>Name</label>
            <input type="text" id="txtProvider" class="form-control textbox-search-onenterkey" formControlName="ProviderName">
          </div>
          <div class=" form-group col-sm-3">
            <label>Practice</label>
            <select class="form-control ddlmemberlanguage chosen-select"  id="LocationId" name="LocationId" formControlName="Practice">
              <option [ngValue]=null>Any Practice</option>
              <option value="New Horizons ASC">New Horizons ASC</option>
              <option value="Mount Sinai Beth Israel">Mount Sinai Beth Israel</option>
              <option value="Englewood Hospital">Englewood Hospital</option>
              <option value="HEMA">HEMA</option>
              <option value="HAMG">HEMG</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label>Location</label>
            <select class="form-control ddlmemberlanguage chosen-select"  id="LocationId" name="LocationId" formControlName="Location">
              <option [ngValue]=null>Select Location</option>
                <option value="Flemington Neuro" >Flemington Neuro</option>
                <option value="54 DEAN" >54 DEAN</option>
                <option value="38 Astoria" >38 Astoria</option>
                <option value="100A Liv Brooklyn" >100A Liv Brooklyn</option>
            </select>
          </div>
          <div class=" form-group col-md-3 dvProviderspe">
            <div id="dvProviderspe">
              <label>Specialty</label>
              <select class="form-control ddlmemberlanguage chosen-select"  id="LocationId" name="LocationId" formControlName="Specialty">
                <option [ngValue]=null>Any Speciality</option>
                <option value="17"> OB / GYN</option>
                <option value="13">Anesthesia</option>
                <option value="16">Bariatric Surgery</option>
                <option value="10">Medical Weight Loss Surgery</option>
                <option value="11">Minimally Invasive Spine</option>
                <option value="12">NeuroSurgery</option>
                <option value="1">Orthopaedics</option>
                <option value="21">Orthopedic Spine</option>
                <option value="19">Others</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>ZIP</label>
            <!-- <input type="text" class="form-control ZipCodeChange" id="txtproviderZip" placeholder="xxxxx-xxxx" maxlength="10"  formControlName="ZIP"> -->
            <p-inputMask mask="99999-9999" formControlName="ZIP"  styleClass="form-control" placeholder="xxxxx-xxxx"></p-inputMask>
          </div>
          <div class="col-md-3">
            <label>City</label>
            <input type="text" class="form-control textbox-search-onenterkey" id="txtproviderCity" formControlName="City">
          </div>
          <div class="col-md-3">
            <label>State</label>
            <select class="form-control ddlmemberlanguage chosen-select" id="LocationId" formControlName="State" >
              <option [ngValue]=null>Any</option>
              <option value="AE">AE</option>
              <option value="AK">AK</option>
              <option value="AL">AL</option>
              <option value="AR">AR</option>
              <option value="AS">AS</option>
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="FM">FM</option>
              <option value="GA">GA</option>
              <option value="GU">GU</option>
              <option value="HI">HI</option>
            </select>
          </div>
          <div class="col-md-3" style="margin-top: 20px">
            <button type="submit" class="btn btn-primary btnSearchProForAppointment" id="btnSearchProForAppointment" >Search</button>
          </div>
        </div><br><br><br>
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper wrapper-content ">
              <div id="dvSearchProviderResult">
                <div class="ibox-content m-b-sm border-bottom m-t-n-xl" *ngIf="onSearchProviderdiplay">
                  <table class="table table-striped table-hover table-condensed">
                    <thead>
                      <tr style="width: 100%;">
                        <th style="max-width: 10%;">Name</th>
                        <th>Practice</th>
                        <th>Location</th>
                        <th>Address</th>
                        <th>Specialty</th>
                        <th>City</th>
                        <th>State</th>
                        <th style="max-width: 10%; text-align: center"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of ProviderData">
                        <td>{{item.ProviderName}}</td>
                        <td></td>
                        <td>{{item.Location}}</td>
                        <td></td>
                        <td>{{item.Specialty}}</td>
                        <td></td>
                        <td></td>
                        <td>
                          <a  (click)="selectSearch(item)" class="selectedEpisodeSurgeon">Select</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="custompagination pull-right pagEpisodeAPPSearchMembersList" style="margin-top:-17px" >
                    <ul>
                      <li class="disabled">
                        <a data-val="0" >&lt;&lt;</a>
                      </li>
                      <li>
                        <label style="display:none" for="selId">.</label>
                        <select class="pagerSelect input-small" id="selId">
                          <option selected="selected" value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                      </li>
                      <li>
                        <a class="pagerItem" data-val="2" >&gt;&gt;</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <a  (click)="closeEditAddPopup()" class="btn btn-small btn-danger pull-right" style="width: 60px; background: red;color: white;">Close</a>
        </div>
      </div>
    </form>
  </p-dialog>

  <p-dialog id="appointDialog" [(visible)]="openDetailsPopupdisp" [modal]="true" [responsive]="true" [maximizable]="false" [closable]="false" blockScroll='false'>
    <div class="head">
      <a  class="btn btn-danger pull-right"
        (click)="closeDetailsPopup()" style="width: 60px; background: red;color: white;">close
      </a>
      <h3 class="dialog-title" style="color: rgb(3, 3, 63);">Details</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <form >
            <table >
              <tr>
                <th>Patient Name:</th>
                <td>
                  {{patientName}}
                </td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>
                  {{Location}}
                </td>
              </tr>
              <tr>
                <th>Provider Name:</th>
                <td>
                 {{Providers}}
                </td>
              </tr>
              <tr>
                <th>Appointment Type:</th>
                <td>
                  {{AppointmentType}}
                </td>
              </tr>
              <tr>
                <th>Practice:</th>
                <td>
                  {{Practice}}
                </td>
              </tr>
              <tr>
                <th>Start Time:</th>
                <td>
                  {{StartTime}}
                </td>
              </tr>
              <tr>
                <th>End Time:</th>
                <td>
                  {{EndTime}}
                </td>
              </tr>
              <tr>
                <th>Status:</th>
                <td>
                  {{Status}}
                </td>
              </tr>
              <tr>
                <th>Reason:</th>
                <td>
                  {{reason}}
                </td>
              </tr>
              <tr>
                <th>Description:</th>
                <td>
                  {{description}}
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<!-- cancel- No show popup -->

<p-dialog id="appointDialog" [closable]="false" [(visible)]="appointmentCancelDisplay" [modal]="true"
[draggable]="false" blockScroll ="false" [resizable]="false"><br>
  <p-header>
    <div class="head">
        <button  class="btn btn-danger btn-sm pull-right" style="width: 60px; background: red;color: white;"  (click)="closeCancelPopup()">close</button>
      <h5 class="cancelPopupHeading" style="color: rgb(3, 3, 63);">Cancel Appointment</h5>
    </div>
  </p-header>

  <form [formGroup]="cancelForm" (ngSubmit)="onCancelSubmit(cancelForm)" >
    <div formArrayName="cancelDetails"  *ngFor="let cancelAppointment of cancelForm.get('cancelDetails')['controls']; let i = index" >
      <ng-container [formGroupName]="i">
        <div  class="form-group">
          <div class="col-md-12">
            <div class="col-md-6">

                <label>Reason<span class="text-danger">*</span></label>
                <p-dropdown formControlName="reason" (onChange)="findData($event)" [options]="CancelReason"></p-dropdown>

            </div>
            <div class="col-md-6" *ngIf="showTransToHospitalBox" >

                <label>Hospital Location<span class="text-danger">*</span></label>
                <p-dropdown  [options]="TransferToHosp" formControlName="HospitalLocation"> </p-dropdown>

            </div>
            <div class="col-md-6" *ngIf="showTransToPCPBox" >

                <label>Physician<span class="text-danger">*</span></label>
                <p-dropdown [options]="TransferToPCP" formControlName="Physician"> </p-dropdown>

            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label >Description<span class="text-danger">*</span></label>
            <input class="form-control" type="text" formControlName="description">
          </div>
        </div>
      </ng-container>
      <button type="submit" class="btn btn-primary btn-sm pull-right">Submit</button>
    </div>
  </form>
</p-dialog>
<p-toast position="top-right"></p-toast>
