.btn-primary {
  background-color:#C6E1FF;
  border-color:#C6E1FF;
  color: #FFFFFF;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0);
  width: 90px !important;
  border-radius: 6px;
  margin-top : 6px;
  border:0px !important;
}
#tdpad{
  padding-top: 25px !important;
}

.table thead th {
  text-align: center;
}
