.form-control, .single-line {
  background-color: #FFFFFF;
  background-image: none;
  /* border: 1px solid #e5e6e7; */
  color: inherit;
  display: block;
  padding: 6px 12px;
  width: 100% !important;
  font-size: 14px;
  border-left: 1px solid #CCC !important;
  border-top: 1px solid #CCC !important;
  border-right: 1px solid #CCC !important;
  border-bottom: 2px solid #36cc95 !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  font-family: inherit;
}
.btn-continue {
  background-color: #848484;
  border-color: #999999;
  color: white;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
  margin-top: 30px;
}
.btn-continue:hover {
  background-color: rgb(175, 175, 100);
  color: white;
}
.wrapper-content {
  padding: 20px 10px 40px;
}
.gray-bg {
  background-color: #f3f3f4;
}
#bgcol {
  background-color: white;
    margin-right: 14px;
    margin-left: 14px;
    margin-top: 5px;
    padding-bottom: 17px;
}
