<div id="wrapper" class="CaseManagementDashboard">
  <nav  class="navbar-default navbar-static-side" role="navigation" id="divSidebarCollapse ">
    <div class="sidebar-collapse" id="SidebarCollapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="logo-element">
            <img src="assets/img/brand/logo-new2.png">
          </div>
        </li>
        <li class="mar-top-40">
          <a href="javascript:void(0);" routerLink="/dashboard" title="Schedule An Appointment"
            class="topNavBorderRight">

            <i>

              <svg id="Group_597" data-name="Group 597" xmlns="http://www.w3.org/2000/svg" width="23" height="23.524"
                viewBox="0 0 23 23.524">
                <g id="Path_2112" data-name="Path 2112" transform="translate(0 19.668)" fill="none">
                  <path d="M0-9.754l11.525-9.914L23-9.754V3.856H0Z" stroke="none"></path>
                  <path
                    d="M 11.5224027633667 -17.02783012390137 L 2 -8.836516380310059 L 2 1.855541229248047 L 21 1.855541229248047 L 21 -8.839149475097656 L 11.5224027633667 -17.02783012390137 M 11.52527046203613 -19.66845893859863 L 23 -9.75424861907959 L 23 3.855541229248047 L 0 3.855541229248047 L 0 -9.75424861907959 L 11.52527046203613 -19.66845893859863 Z"
                    stroke="none" fill="#fff"></path>
                </g>
                <rect id="Rectangle_857" data-name="Rectangle 857" width="5" height="10"
                  transform="translate(9.328 12.524)" fill="#fff"></rect>
              </svg>




            </i>
            <span class="nav-label">Home</span>
          </a>
        </li>
        <li class="has-subnav">
          <a title="Dashboard" aria-expanded="false">
            <i >

              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 23 23">
                <path id="Path_2003" data-name="Path 2003"
                  d="M599.444-21H581.556A2.563,2.563,0,0,0,579-18.444V-.556A2.563,2.563,0,0,0,581.556,2h17.889A2.563,2.563,0,0,0,602-.556V-18.444A2.563,2.563,0,0,0,599.444-21ZM586.667-3.111h-2.556v-8.944h2.556Zm5.111,0h-2.556V-15.889h2.556Zm5.111,0h-2.556V-8.222h2.556Z"
                  transform="translate(-579 21)" fill="#fff"></path>
              </svg>

            </i> <span class="nav-label" >Dashboards</span> <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
            <li>
              <a title="Adjuster Dashboard">Adjuster
                Dashboard </a>

            </li>
            <li >
              <a title="Case Management Dashboard">Case
                Management Dashboard </a>

            </li>
            <li>
              <a href="javascript:void(0)"
             title="Office Dashboard" [routerLink]="['appointments']">Office
                Dashboard </a>

            </li>
            <li>
              <a title="Surgical Request Dashboard">Surgical Request Dashboard </a>

            </li>
            <li>
              <a title="Surgical Dashboard">Surgical Dashboard </a>

            </li>
            <li>
              <a title="Billing">Billing <span
                  class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false"
                style="right: auto; left: auto; height: 0px;">
                <li><a title="Billing Dashboard">Billing
                    Dashboard </a></li>
                <li><a title="Batch Dashboard">Batch Dashboard
                  </a></li>
                <li><a title="Collection Dashboard">Collection Dashboard </a></li>
                <li><a title="Arbitration / Litigation Dashboard">Arbitration / Litigation Dashboard </a></li>
                <li><a title="Print Dashboard">Print Dashboard
                  </a></li>
                <li><a title="E-Claim Dashboard">E-Claim
                    Dashboard </a></li>
              </ul>
            </li>
            <li>
              <a title="Authorization Request Dashboard">Authorization Request Dashboard </a>

            </li>
            <li>
              <a title="Incident Management">Incident
                Management </a>

            </li>
            <li>
              <a title="Fax Dashboard">Fax Dashboard </a>

            </li>
            <li>
              <a title="To Do List Dashboard">To Do List
                Dashboard </a>

            </li>
            <li>
              <a href="javascript:void(0);" [routerLink]="['Dashboard/providerDashBoard']" title="Provider Dashboard">Provider
                Dashboard </a>

            </li>
            <li>
              <a title="Case Management Dashboard">Case
                Management Dashboard </a>

            </li>
            <li>
              <a title="Initiate Referral">Initiate
                Referral </a>

            </li>
            <li>
              <a title="Booking Sheet Dashboard">Booking Sheet Dashboard </a>

            </li>
            <li>
              <a title="ASC Schedule ">ASC Schedule </a>

            </li>
            <li>
              <a title="PatientPortal Dashboard">PatientPortal Dashboard <span class="fa arrow"></span> </a>

            </li>
            <li>
              <a title="General Appointment Requests">General Appointment Requests </a>

            </li>
            <li>
              <a href="javascript:void(0);" [routerLink]="['Dashboard/externaldocumentupload']"
                title="External Document Upload">External Document Upload </a>

            </li>
          </ul>

        </li>
        <li>
          <a href="javascript:void(0);"  [routerLink]="['Scheduleanappt']" title="Schedule An Appointment"
            class="topNavBorderRight">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 23 26">
                <path id="shape"
                  d="M68.889-23.7H62.5v6.5h6.389ZM67.611-38v2.6H57.389V-38H54.833v2.6H53.556a2.567,2.567,0,0,0-2.543,2.6L51-14.6A2.577,2.577,0,0,0,53.556-12H71.444A2.586,2.586,0,0,0,74-14.6V-32.8a2.586,2.586,0,0,0-2.556-2.6H70.167V-38Zm3.833,23.4H53.556V-28.9H71.444Z"
                  transform="translate(-51 38)" fill="#fff"></path>
              </svg>
            </i>
            <span class="nav-label">Appointment</span>
          </a>
        </li>


        <li  class="has-subnav">
          <a title="Transcriptions"
            aria-expanded="false">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 12.998 27.128">
                <path id="Union_11" data-name="Union 11"
                  d="M2.737,27.128V25.144h2.05v-3.51A5.863,5.863,0,0,1,0,16.168V8.484H1.61v7.824c0,2.218,2.192,4.019,4.89,4.019s4.888-1.8,4.888-4.019V8.484H13v7.683a5.863,5.863,0,0,1-4.79,5.467v3.51H10.26v1.984Zm0-11.182V3.24A3.529,3.529,0,0,1,6.5,0a3.527,3.527,0,0,1,3.76,3.24V15.946A3.531,3.531,0,0,1,6.5,19.188,3.532,3.532,0,0,1,2.737,15.946Z"
                  fill="#fff"></path>
              </svg>

            </i>
            <span class="nav-label">Dictations</span> <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
            <li>
              <a title="My Transcription">My Transcription
              </a>

            </li>
            <li>
              <a title="Upload Audio / Transcription">Upload Audio / Transcription </a>

            </li>
            <li>
              <a title="Associate Manually Uploaded Transcriptions">Associate Manually Uploaded Transcriptions </a>

            </li>
            <li>
              <a title="Pending Dictations">Pending
                Dictations </a>

            </li>
            <li>
              <a title="Transcription Attachments">Transcription Attachments </a>

            </li>
          </ul>
        </li>
        <li class="has-subnav">
          <a title="Reports" aria-expanded="false">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 23 23">
                <g id="Group_1212" data-name="Group 1212" transform="translate(-38 -658.189)">
                  <path id="Path_2003" data-name="Path 2003"
                    d="M599.444-21H581.556A2.563,2.563,0,0,0,579-18.444V-.556A2.563,2.563,0,0,0,581.556,2h17.889A2.563,2.563,0,0,0,602-.556V-18.444A2.563,2.563,0,0,0,599.444-21Z"
                    transform="translate(-541 679.189)" fill="#fff"></path>
                  <path id="Path_2121" data-name="Path 2121"
                    d="M.84,2.549,4.466,7.278,6.335.671l3.2,3.48,3.483-8.794,3.54,8.794"
                    transform="translate(40.5 668.689)" fill="none" stroke="#1c223f" stroke-width="2"></path>
                </g>
              </svg>

            </i>
            <span class="nav-label">Reports</span> <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
            <li>
              <a title="Surgical Reports">Surgical
                Reports <span class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Management Dashboard">Management Dashboard </a></li>
                <li><a title="Booking Sheets(By Statuses">Booking Sheets(By Statuses </a></li>
                <li><a title="Booking Sheets(By Stages)">Booking Sheets(By Stages) </a></li>
                <li><a title="Surgical Transportation">Surgical Transportation </a></li>
                <li><a title="Surgical Request Summary">Surgical Request Summary </a></li>
                <li><a title="ASC Reports">ASC Reports </a></li>
              </ul>
            </li>
            <li>
              <a title="Office Based Reports">Office
                Based Reports <span class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Appointment Status Completed Report">Appointment Status Completed Report </a></li>
                <li><a title="Provider Dashboard Summary">Provider Dashboard Summary </a></li>
                <li><a title="Office Reports">Office Reports </a>
                </li>
              </ul>
            </li>
            <li>
              <a title="Appointments Reports">Appointments
                Reports </a>

            </li>
            <li>
              <a title="SMS Conversation Report">SMS
                Conversation Report </a>

            </li>
            <li>
              <a title="Transcription Document Accuracy Report">Transcription Document Accuracy Report </a>

            </li>
            <li>
              <a title="Accounting">Accounting <span
                  class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Accounting Dashboard">Accounting Dashboard </a></li>
              </ul>
            </li>
            <li>
              <a title="Comparsion Report">Comparsion
                Report <span class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="ASC Comparison Report">ASC
                    Comparison Report </a></li>
                <li><a title="Office Comparison Report">Office Comparison Report </a></li>
                <li><a title="ASCComparison AR Report">ASCComparison AR Report </a></li>
                <li><a title="OfficeComparison AR Report">OfficeComparison AR Report </a></li>
              </ul>
            </li>
            <li>
              <a title="AR Reports">AR Reports </a>

            </li>
            <li>
              <a title="Service Charge Reports">Service
                Charge Reports </a>

            </li>
            <li>
              <a title="Collection AR Report">Collection AR
                Report </a>

            </li>
          </ul>
        </li>
        <li  class="has-subnav">
          <a title="Support" aria-expanded="false">
            <i>
              <svg id="Group_614" data-name="Group 614" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                viewBox="0 0 23 22.885">
                <g id="Ellipse_141" data-name="Ellipse 141" transform="translate(1 2)" fill="none" stroke="#fff"
                  stroke-width="2">
                  <ellipse cx="10.5" cy="10.442" rx="10.5" ry="10.442" stroke="none"></ellipse>
                  <ellipse cx="10.5" cy="10.442" rx="9.5" ry="9.442" fill="none"></ellipse>
                </g>
                <g id="Ellipse_142" data-name="Ellipse 142" transform="translate(8.5)" fill="#fff" stroke="#fff"
                  stroke-width="1">
                  <circle cx="3" cy="3" r="3" stroke="none"></circle>
                  <circle cx="3" cy="3" r="2.5" fill="none"></circle>
                </g>
                <g id="Ellipse_143" data-name="Ellipse 143" transform="translate(0 13.885)" fill="#fff" stroke="#fff"
                  stroke-width="1">
                  <circle cx="3" cy="3" r="3" stroke="none"></circle>
                  <circle cx="3" cy="3" r="2.5" fill="none"></circle>
                </g>
                <g id="Ellipse_144" data-name="Ellipse 144" transform="translate(17 13.885)" fill="#fff" stroke="#fff"
                  stroke-width="1">
                  <circle cx="3" cy="3" r="3" stroke="none"></circle>
                  <circle cx="3" cy="3" r="2.5" fill="none"></circle>
                </g>
              </svg>

            </i>
            <span class="nav-label">Colleagues</span> <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
            <li>
              <a title="Colleagues">Colleagues </a>

            </li>
            <li>
              <a title="Discussion Forums">Discussion Forums </a>

            </li>
          </ul>
        </li>
        <li class="mar-top-55 has-subnav">
          <a title="Admin Screen"
            aria-expanded="false">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 23 23">
                <path id="Union_22" data-name="Union 22"
                  d="M9.457,22.373,8.9,19.779q-.216-.064-.429-.14L6.389,21.256a4.953,4.953,0,0,1-2.045-.9A4.856,4.856,0,0,1,3.117,18.51l1.092-2.139a8.685,8.685,0,0,1-.854-1.555q-.1-.23-.181-.465L.627,13.8A4.955,4.955,0,0,1,0,11.66,4.86,4.86,0,0,1,.627,9.531l2.389-.55A8.729,8.729,0,0,1,3.922,6.92L2.8,4.8A4.956,4.956,0,0,1,4.039,2.939a4.856,4.856,0,0,1,2.034-.888L7.9,3.432l.09-.039a8.678,8.678,0,0,1,.942-.336L9.457.627A4.954,4.954,0,0,1,11.6,0,4.858,4.858,0,0,1,13.73.627l.6,2.59q.228.082.452.176.2.085.395.179l2.015-1.521a4.855,4.855,0,0,1,2.034.888A4.953,4.953,0,0,1,20.46,4.8L19.1,7.369q.17.323.314.663a8.684,8.684,0,0,1,.322.893l2.636.607A4.861,4.861,0,0,1,23,11.66a4.957,4.957,0,0,1-.627,2.143l-2.8.6q-.075.207-.162.411a8.688,8.688,0,0,1-.8,1.474l1.266,2.481a4.86,4.86,0,0,1-1.228,1.849,4.954,4.954,0,0,1-2.045.9l-2.277-1.769-.6,2.626A4.859,4.859,0,0,1,11.6,23,4.955,4.955,0,0,1,9.457,22.373ZM8.141,8.18a4.793,4.793,0,1,0,3.389-1.4A4.761,4.761,0,0,0,8.141,8.18Z"
                  fill="#fff"></path>
              </svg>

            </i>
            <span class="nav-label">Settings</span> <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
            <li>
              <a title="General">General <span class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Add Body Part">Add Body Part </a></li>
                <li><a title="Add Injury Type">Add Injury Type </a>
                </li>
                <li><a title="Add Injured Location">Add Injured
                    Location </a></li>
                <li><a title="Add Accident Type">Add Accident Type
                  </a></li>
                <li><a title="Add/Edit Speciality">Add/Edit
                    Speciality </a></li>
                <li><a title=" Manage Document Category / Type">
                    Manage Document Category / Type </a></li>
                <li><a title="Manage Client / News">Manage Client / News </a></li>
                <li><a title="Medication Prescriptions">Medication Prescriptions </a></li>
                <li><a title="Manage Surgery Role Status">Manage Surgery Role Status </a></li>
                <li><a title="Manage Payers">Manage Payers </a>
                </li>
                <li><a title=" Manage Appointment Statues"> Manage Appointment Statues </a></li>
                <li><a title="Manage Document Templates">Manage
                    Document Templates </a></li>
                <li><a title="Merge Patient">Merge Patient </a></li>
                <li><a title="Manage Appointment Type To Surgeon">Manage Appointment Type To Surgeon </a></li>
                <li><a title="Manage Surgical Statuses Colors">Manage Surgical Statuses Colors </a></li>
                <li><a title="Manage Collection Dashboard Configaration">Manage Collection Dashboard Configaration </a>
                </li>
                <li><a href="http://localhost/YourDRs1/Admin/SuperbillSectionConfigaration"
                    title="Manage  Superbill Section Configaration">Manage Superbill Section Configaration </a></li>
                <li><a href="http://localhost/YourDRs1/Admin/ProviderDiagnosisCodeAssociation"
                    title="Provider Diagnosis Code Association">Provider Diagnosis Code Association </a></li>
                <li><a href="http://localhost/YourDRs1/Admin/ApplicationMenus" title="Application Menu">Application Menu
                  </a></li>
                <li><a href="http://localhost/YourDRs1/Admin/CollectionTeamConfiguration"
                    title="Collection Team Configuration">Collection Team Configuration </a></li>
                <li><a href="http://localhost/YourDRs1/Admin/ArbitrationFloderConfigiration"
                    title="Arbitration Folder Configiration">Arbitration Folder Configiration </a></li>
                <li><a href="http://localhost/YourDRs1/Billing/GetCollectionStatusesVijayTest"
                    title="Collection Statuses Test">Collection Statuses Test </a></li>
                <li><a href="http://localhost/YourDRs1/Admin/ManageSurgeonCoordinators"
                    title="Manage Surgeon Coordinators">Manage Surgeon Coordinators </a></li>
                <li><a href="http://localhost/YourDRs1/Admin/ManageBank" title="Manage Bank">Manage Bank </a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)" title="Users">Users <span
                  class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a [routerLink]="['users/createNew']" title="Create New User">Create New User </a>
                </li>
                <li><a [routerLink]="['users/ManageUser']" title="Manage Users">Manage Users </a></li>
                <li><a  [routerLink]="['users/ProviderWorkSchedule']"
                    title="Provider Work Schedule">Provider Work Schedule </a></li>
                <li><a [routerLink]="['users/ManageLicenceAgreement']"
                    title="Manage Licence Agreement">Manage Licence Agreement </a></li>
                <li><a href="javascript:void(0)" title="Member Affiliation">Member
                    Affiliation </a></li>
              </ul>
            </li>
            <li>
              <a href="http://localhost/YourDRs1/Patient/CaseManagementDashboard#"
                title="Practice/Location">Practice/Location <span class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a [routerLink]="['PracticeLocation/ManagePracticeLocation']"  title="Manage Practice/Location">Manage
                    Practice/Location </a></li>
                <li><a [routerLink]="['PracticeLocation/ManagePracticeSubscription']"
                    title="Manage Practice/Location Subscription">Manage Practice/Location Subscription </a></li>
                <li><a [routerLink]="['PracticeLocation/ManagePracticeReferral']"
                    title="Manage Practice/Location Referral	">Manage Practice/Location Referral </a></li>
                <li><a href="javascript:void(0)"
                    title="Manage Practice Location Packet Documents">Manage Practice Location Packet Documents </a>
                </li>
              </ul>
            </li>
            <li>
              <a title="Teams">Teams <span
                  class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a  title="Create Team">Create Team </a></li>
                <li><a title="Associate Team &amp; Locations">Associate Team &amp; Locations </a></li>
                <li><a title="Manage Teams">Manage Teams
                  </a></li>
              </ul>
            </li>
            <li>
              <a title="Manage Care Team">Manage Care Team
              </a>

            </li>
            <li>
              <a title="Procedures">Procedures <span
                  class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Add New Procedure">Add New Procedure
                  </a></li>
                <li><a title="Provider Surgery Type Association">Provider Surgery Type Association </a></li>
                <li><a title="Add New Appointment Type">Add
                    New Appointment Type </a></li>
                <li><a title="Appointment Type CPT Association">Appointment Type CPT Association </a></li>
                <li><a title="CPT Group Asscoiation">CPT
                    Group Asscoiation </a></li>
                <li><a title="Care Plan Week">Care Plan Week </a>
                </li>
              </ul>
            </li>
            <li>
              <a title="Fees/Forms">Fees/Forms <span
                  class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Fees Structure">Fees Structure </a>
                </li>
                <li><a title="Claim Forms">Claim Forms </a></li>
              </ul>
            </li>
            <li>
              <a title="Organization">Organization
                <span class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Manage Organizations">Manage Organizations </a></li>
                <li><a title="Add User to Organization">Add User to Organization </a></li>
                <li><a title="Create Employees">Create
                    Employees </a></li>
                <li><a title="Member Hierarchy">Member Hierarchy
                  </a></li>
              </ul>
            </li>
            <li>
              <a title="Employer Admin">Employer Admin
                <span class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Create Employees">Create
                    Employees </a></li>
                <li><a title="Member Hierarchy">Member Hierarchy
                  </a></li>
              </ul>
            </li>
            <li>
              <a title="Manage ERX Member">Manage ERX Member </a>

            </li>
            <li>
              <a title="CMS">CMS <span
                  class="fa arrow"></span></a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Body Range CMS">Body Range CMS </a>
                </li>
                <li><a title="Health Articles CMS">Health
                    Articles CMS </a></li>
              </ul>
            </li>
            <li>
              <a title="Originated Referrals Details">Originated Referrals Details </a>

            </li>
            <li>
              <a title="Agreement Forms">Agreement Forms </a>

            </li>
            <li>
              <a title="CCDA Configuration ">CCDA
                Configuration </a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Scheduler Configuration ">Scheduler Configuration </a></li>
                <li><a title="CCDA Bulk Export">CCDA Bulk Export </a> </li>
                <li><a title="CCDA Export Progress">CCDA Export Progress </a></li>
              </ul>
            </li>
            <li>
              <a title="Service Charge Configuration">Service Charge Configuration </a>

            </li>
            <li>
              <a title="CDS">CDS </a>

              <ul class="nav nav-third-level collapse" aria-expanded="false" style="left: auto; right: auto;">
                <li><a title="Configure Rules">Configure Rules </a></li>
              </ul>
            </li>
            <li>
              <a title="Manage Es Credentails">Manage Es Credentails </a>
            </li>
            <li>
              <a title="QRDA Generator">QRDA Generator
              </a>

            </li>
          </ul>
        </li>
        <li  class="has-subnav">
          <a title="Support Tickets"
            aria-expanded="false">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <g id="Group_625" data-name="Group 625" transform="translate(-0.149 0.073)">
                  <g id="Ellipse_107" data-name="Ellipse 107" transform="translate(0.149 -0.073)" fill="none"
                    stroke="#fff" stroke-width="2">
                    <circle cx="12" cy="12" r="12" stroke="none"></circle>
                    <circle cx="12" cy="12" r="11" fill="none"></circle>
                  </g>
                  <path id="Union_19" data-name="Union 19"
                    d="M0,13.713S.474,8.665,5,7.328A3.986,3.986,0,1,1,9.465,7.25c4.837,1.2,5.523,6.464,5.523,6.464a9.275,9.275,0,0,1-7.617,3.435h-.01C2.069,17.149,0,13.713,0,13.713Z"
                    transform="translate(4.865 6.311)" fill="#fff"></path>
                </g>
              </svg>
            </i>
            <span class="nav-label">Help</span> <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
            <li>
              <a title="Support Tickets">Support Tickets </a>

            </li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>
  <div id="page-wrapper" class="gray-bg">
    <div class="panel-heading" style="padding-left: 0px; padding-bottom: 0px; padding-right: 0px; padding-top: 0px;">
      <div class="panel-options nav-profile" style="background-color: white;">
        <ul class="nav nav-tabs gp-top-header">

          <li >

            <div class="navbar-header" (click)="toggleMinimize()">
              <a class="navbar-minimalize  btn btn-menu-colase"><i class="fa fa-bars"></i> </a>

            </div>


          </li>

          <li><a class="CaseManagementDashboard pdtab Nostyle" data-toggle="tab" aria-expanded="false"><span
                class="spnPageName Nostyle">Case Management Dashboard</span></a></li>
          <li class="search-icon">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="17.49" height="17.491" viewBox="0 0 17.49 17.491">
                <path id="Path_402" data-name="Path 402"
                  d="M920.5-1404h-.794l-.276-.274A6.469,6.469,0,0,0,921-1408.5a6.5,6.5,0,0,0-6.5-6.5,6.5,6.5,0,0,0-6.5,6.5,6.5,6.5,0,0,0,6.5,6.5,6.47,6.47,0,0,0,4.225-1.566l.276.274v.792l5,4.991L925.49-1399l-4.988-5Zm-6,0a4.5,4.5,0,0,1-4.5-4.5,4.5,4.5,0,0,1,4.5-4.5,4.5,4.5,0,0,1,4.5,4.5,4.5,4.5,0,0,1-4.5,4.5Z"
                  transform="translate(-908 1415)" fill="#1c223f" fill-rule="evenodd"></path>
              </svg>
            </i>
          </li>
          <li>
            <div class="navbar-form-custom">
              <div class="form-group">
                <input type="text" placeholder="Search for Patients / Episodes / Members ..."
                  class="topSearchNav top-search-box" name="top-search" autocomplete="off" id="txtTopSearch"
                  maxlength="100" data-req-url="javascript:void(0)" [(ngModel)]="value" (keydown.enter)="keyDownFunction(value)" >
              </div>
            </div>
          </li>

          <li class="pull-right header-btn-group" style="padding-top: 7px;">
            <button type="button" style="background: none !important; border: 0px; padding: 0px; margin: 0px;"
              title="View tagged comments" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="21.401" height="22" viewBox="0 0 21.401 22">
                  <path id="Subtraction_8" data-name="Subtraction 8"
                    d="M-74.865-129.612h0L-84-138.131l11.541-12.376a20.071,20.071,0,0,1,5.69-1.105,4.371,4.371,0,0,1,3.039.895,3.828,3.828,0,0,1,1.027,2.263,11.736,11.736,0,0,1,.033,2.9,22.714,22.714,0,0,1-.653,3.566Zm6.359-17.736a2.012,2.012,0,0,0-1.466.637,1.99,1.99,0,0,0-.537,1.436,1.99,1.99,0,0,0,.636,1.4,2,2,0,0,0,1.366.538,2.011,2.011,0,0,0,1.466-.637,1.99,1.99,0,0,0,.537-1.436,1.991,1.991,0,0,0-.636-1.4A2,2,0,0,0-68.506-147.348Z"
                    transform="translate(84 151.612)" fill="#1c223f"></path>
                </svg>
                <span class="" aria-hidden="true"><span id="idSpanTagTotalCount" class="header-tags">6</span></span>
              </i>
            </button>

          </li>
          <li class="pull-right header-btn-group " style="padding-top: 7px;">
            <button type="button" style="background: none !important; border: 0px; padding: 0px; margin: 0px;"
              title="View tagged comments" class="btn btn-warning ">
              <i>
                <svg id="Component_7_6" data-name="Component 7 – 6" xmlns="http://www.w3.org/2000/svg" width="29"
                  height="22" viewBox="0 0 29 22">
                  <g id="Rectangle_448" data-name="Rectangle 448" fill="none" stroke="#1c223f" stroke-width="3">
                    <rect width="29" height="22" stroke="none"></rect>
                    <rect x="1.5" y="1.5" width="26" height="19" fill="none"></rect>
                  </g>
                  <path id="Polygon_6" data-name="Polygon 6" d="M14.5,0,29,13H0Z"
                    transform="translate(29 13) rotate(180)" fill="#1c223f"></path>
                </svg>
                <span class="" aria-hidden="true"><span class="header-tags">7</span></span>
              </i>
            </button>
          </li>
          <li class="pull-right header-btn-group " style="padding-top: 7px;">
            <button type="button" style="background: none !important; border: 0px; padding: 0px; margin: 0px;"
              title="View tagged comments" class="btn btn-warning ">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="21.978" viewBox="0 0 26 21.978">
                  <path id="Subtraction_7" data-name="Subtraction 7"
                    d="M-58-138.022H-84V-160h26v21.978Zm-22.431-13.852v2.868h9.687v-2.868Zm0-5.258v2.868h18.863v-2.868Z"
                    transform="translate(84 160)" fill="#1c223f"></path>
                </svg>
                <span class="" aria-hidden="true"><span class="header-tags">7</span></span>
              </i>
            </button>
          </li>

          <li class="pull-right header-top-profile">
            <a class="header-profile">
              <span class="">
                <img src="assets/CSS/successProfile.jpg"
                  style="border-radius: 50%; width: 25px; height: 25px; margin-right: 9px;">

                <span class="hddisplayname">&nbsp;Admin YourDrs</span><i class="caret"></i>
              </span>
            </a>
            <ul style="left: auto; float: left; right: 0%;top: 50px;">
              <li><a>Social</a></li>
              <li><a>My Profile</a></li>
              <li><a>Edit Email Templates</a></li>
              <li><a title="Medical Records" target="_blank">Medical Records
                </a></li>
              <li><a title="YourDRs Box" target="_blank">YourDRs Box</a></li>
              <li>
                <form action="http://localhost/YourDRs1/Account/LogOff" id="logoutForm" method="post"
                  style="margin:0 !important" novalidate="novalidate"><input name="__RequestVerificationToken"
                    type="hidden">

                  <a (click)="logout()"
                    style="color: #00ff90; font-size: 14px;">
                    <i class="fa fa-sign-out"></i>Log out
                  </a>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>




    <!-- Main view  -->
    <div class="">
      <!-- <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar> -->
      <!-- Main content -->

      <main class="main" style="background-color: #f0f3f5 !important">
        <!-- Breadcrumb -->
        <!-- breaking change 'cui-breadcrumb' -->
        <!-- <cui-breadcrumb>
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </cui-breadcrumb> -->
        <!-- deprecation warning for 'app-breadcrumb' -->
        <!--<ol class="breadcrumb">-->
        <!--<app-breadcrumb></app-breadcrumb>-->
        <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
        <!--<li class="breadcrumb-menu d-md-down-none">-->
        <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
        <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
        <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
        <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ol>-->
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->
      </main>
      <!-- <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-list"></i></ng-template>
        <div class="list-group list-group-accent">
          <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Today</div>
          <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
            <div class="avatar float-right">
              <img class="img-avatar" src="assets/img/avatars/7.jpg" alt="admin@bootstrapmaster.com">
            </div>
            <div>Meeting with
              <strong>Lucas</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  1 - 3pm</small>
            <small class="text-muted">
              <i class="icon-location-pin"></i>  Palo Alto, CA</small>
          </div>
          <div class="list-group-item list-group-item-accent-info">
            <div class="avatar float-right">
              <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
            </div>
            <div>Skype with
              <strong>Megan</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  4 - 5pm</small>
            <small class="text-muted">
              <i class="icon-social-skype"></i>  On-line</small>
          </div>
          <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Tomorrow</div>
          <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
            <div>New UI Project -
              <strong>deadline</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  10 - 11pm</small>
            <small class="text-muted">
              <i class="icon-home"></i>  creativeLabs HQ</small>
            <div class="avatars-stack mt-2">
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/2.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/3.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/5.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
              </div>
            </div>
          </div>
          <div class="list-group-item list-group-item-accent-success list-group-item-divider">
            <div>
              <strong>#10 Startups.Garden</strong> Meetup</div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  1 - 3pm</small>
            <small class="text-muted">
              <i class="icon-location-pin"></i>  Palo Alto, CA</small>
          </div>
          <div class="list-group-item list-group-item-accent-primary list-group-item-divider">
            <div>
              <strong>Team meeting</strong>
            </div>
            <small class="text-muted mr-3">
              <i class="icon-calendar"></i>  4 - 6pm</small>
            <small class="text-muted">
              <i class="icon-home"></i>  creativeLabs HQ</small>
            <div class="avatars-stack mt-2">
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/2.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/3.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/5.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/7.jpg" alt="admin@bootstrapmaster.com">
              </div>
              <div class="avatar avatar-xs">
                <img class="img-avatar" src="assets/img/avatars/8.jpg" alt="admin@bootstrapmaster.com">
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-speech"></i></ng-template>
        <div class="p-3">
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
          <hr>
          <div class="message">
            <div class="py-3 pb-5 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Lukasz Holeczek</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-settings"></i></ng-template>
        <div class="p-3">
          <h6>Settings</h6>
          <div class="aside-options">
            <div class="clearfix mt-4">
              <small><b>Option 1</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
          </div>
          <div class="aside-options">
            <div class="clearfix mt-3">
              <small><b>Option 2</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
          </div>
          <div class="aside-options">
            <div class="clearfix mt-3">
              <small><b>Option 3</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
          <div class="aside-options">
            <div class="clearfix mt-3">
              <small><b>Option 4</b></small>
              <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
          <hr>
          <h6>System Utilization</h6>
          <div class="text-uppercase mb-1 mt-4"><small><b>CPU Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">348 Processes. 1/4 Cores.</small>
          <div class="text-uppercase mb-1 mt-2"><small><b>Memory Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">11444GB/16384MB</small>
          <div class="text-uppercase mb-1 mt-2"><small><b>SSD 1 Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">243GB/256GB</small>
          <div class="text-uppercase mb-1 mt-2"><small><b>SSD 2 Usage</b></small></div>
          <div class="progress progress-xs">
            <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">25GB/256GB</small>
        </div>
      </tab>
    </tabset>
  </app-aside> -->
    </div>
  </div>
  <!-- <app-footer>
  <span><a href="http://qa.yourdrs.com">CoreUI</a> &copy; 2019 YourDrs Inc.</span>
  <span class="ml-auto">Powered by <a href="http://qa.yourdrs.com">SkycliffIT</a></span>
</app-footer> -->

<div class="footer fixed">
  <div>
      <span class="pull-left"><a href="javascript:void(0)" class="Contactsupport" title="" data-update-container="#Contactsupport" data-req-url="/YourDRs1/Account/CreateSupportTicket">Need Help?</a></span>
      <span class="pull-left" style="margin-left:10px;"><a title="Release notes">Q&amp;A</a></span>
      <span class="pull-left"><a title="Release notes"><i class="fa fa-file-text" aria-hidden="true" style="margin-left:20px"></i> Whats New</a></span>
      <span class="pull-left"><a title="Global Help"><i class="fa fa-question-circle" style="margin-left:20px"></i>Help</a></span>
      <span class="pull-left"><span><i class="fa fa-download" aria-hidden="true" style="margin-left:20px"></i>Printer <a title="Printer"> (32bit)</a> <a title="Printer"> (64bit)</a></span></span>

      <span class="pull-right" style="font-weight:bold;font-size:12px;margin-left:20px;">
          Copyright ©
          2020 all rights reserved by YourDrs Services, LLC
      </span>
      <span class="badge pull-right" id="spngblajaxstatus" style="display: none;">Procesing Completed!</span>
      <span class="badge pull-right badge-primary" style="margin-right: 10px;" id="spnInternetStatus">Online</span>
      <span class="pull-right" style="margin-right: 10px;font-weight:bold;font-size:12px;" id="">




      </span>
      <div class="dropdown ">
          <button class="dropbtn dropdown-primary">
              <span class="clsFuturedropup"> Upcoming Changes</span>
              <span class="caret"></span>
          </button>
          <div class="dropdown-content">
              <a href="javascript:void(0);" class="lnkViewReleaseS3Document lnkUpcmngDBReleaseNotes  hide" data-updatecontainer="#dvDocumentDetails" data-filename="" data-urlsrc="http://localhost:80/YourDRs1/Patient/GetS3DocumentViewer?folderpath=UploadFilesTemp/HelpDocuments&amp;filename=" style="display: none;">Dashboard Upcoming Feature</a>

              <a href="javascript:void(0);" class="lnkViewReleaseS3Document lnkUpcmngGeneralReleaseNotes" data-updatecontainer="#dvDocumentDetails" data-filename="ASC Payer Filter Tec_586bb3b2f4.docx" data-urlsrc="http://localhost:80/YourDRs1/Patient/GetS3DocumentViewer?folderpath=UploadFilesTemp/HelpDocuments&amp;filename=">General Upcoming Feature</a>
          </div>
      </div>

      <div class="dropdown ">
          <button class="dropbtn dropdown-primary">
              <span class="clsCurrentdropup"> Version 2.28</span>
              <span class="caret"></span>
          </button>
          <div class="dropdown-content">
              <a href="javascript:void(0);" class="lnkViewReleaseS3Document lnkCurrentDBReleaseNotes " data-updatecontainer="#dvDocumentDetails" data-filename="" data-urlsrc="http://localhost:80/YourDRs1/Patient/GetS3DocumentViewer?folderpath=UploadFilesTemp/HelpDocuments&amp;filename=">Dashboard Release Notes</a>

              <a href="javascript:void(0);" class="lnkViewReleaseS3Document lnkCurrentGeneralReleaseNotes" data-updatecontainer="#dvDocumentDetails" data-filename="Doc For Patient Port_115604200e.docx" data-urlsrc="http://localhost:80/YourDRs1/Patient/GetS3DocumentViewer?folderpath=UploadFilesTemp/HelpDocuments&amp;filename=">General Release Notes</a>

          </div>
      </div>



  </div>



          <div class="scroll-to-top">
              <i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i>
          </div>



      </div>
