.tabpagescontainer {
  margin-bottom: 20px;
  padding: 0px 10px 0px 10px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before{
  display: table;
  content: " ";
}
.row:after{
  clear: both;
  display: table;
  content: " ";
}
*:before{
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}


.col-md-4{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-8{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-9{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-12{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-2{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-5{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-1{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-sm-12{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  cursor: default;
  font-weight: normal !important;

}
.label {

  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  line-height: 1;
  display: inline;
  background-color: #d1dade;
  color: #5e5e5e;
}
strong{
  font-weight: bold;
}
.label-success {
  background-color: #1c84c6;
  color: #FFFFFF;
}

.custompagination {
  margin: 10px 0;
}
.custompagination .pagerInfo {
  margin-top: -10px;
}

input{
  margin: 0;
  font: inherit;
  color: inherit;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  border-image: initial;
  -webkit-rtl-ordering: logical;
  display: inline-block;
  -webkit-appearance: textfield;
  cursor: text;
}

.form-control{
  background-color: #FFFFFF;
  background-image: none;
  color: inherit;
  padding: 6px 12px;
  width: 100% !important;
  font-size: 14px;
  border-left: 1px solid #CCC !important;
  border-top: 1px solid #CCC !important;
  border-right: 1px solid #CCC !important;
  border-bottom: 2px solid #36cc95 !important;
  border-radius: 0px !important;
  box-shadow: none;
}

.form-group {
  margin-bottom: 15px;
}
select{
  font-family: inherit;
  line-height: inherit;
  text-transform: none;
  margin: 0;
  font: inherit;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: menulist;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: default;
}

select:not(:-internal-list-box){
  overflow: visible !important;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  text-align: left;
  user-select: none;
}

.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 5px 12px;
  height: 34px !important;
  border-left: 1px solid #CCC !important;
  border-top: 1px solid #CCC !important;
  border-right: 1px solid #CCC !important;
  border-bottom: 2px solid #37cb95 !important;
  background-color: #fff;
  border-radius: 0px !important;
  background-clip: padding-box;
  color: #555;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
  background: #ffffff;
  box-shadow: none;
  box-sizing: border-box;
  cursor: text;
  margin: 0;
  min-height: 30px;
  width: 100%;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: initial !important;
  white-space: initial !important;
}

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  //background: url(../Scripts/plugins/chosendropdown/chosen-sprite.png) no-repeat 0px 2px;
}
b{
  font-weight: bold;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container-single .chosen-search {
  color: #000 !important;
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  //background: white url(../Scripts/plugins/chosendropdown/chosen-sprite.png) no-repeat 100% -20px;
 // background: url(../Scripts/plugins/chosendropdown/chosen-sprite.png) no-repeat 100% -20px;
  font-size: 1em;
  line-height: normal;
  border-radius: 0;
}

.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;

}

ul{
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  display: block;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li {
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;

}
.chosen-results > .result-selected{
  background-color: #69b1ff !important;
  color: #fff !important;
}

li {
  text-align: -webkit-match-parent;
}
// input[type="hidden" i] {
//     display: none;
//     -webkit-appearance: initial;
//     background-color: initial;
//     cursor: default;
//     padding: initial;
//     border: initial;
// }

// Panel-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
.panel-group{
  margin-bottom: 20px;
}
.panel-group .panel {

  border-radius: 4px;
}
.panel{
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
}
.panel-default {
  border-color: #ddd;
  background-color: #fff;
  border: 1px solid transparent;
}

.panel-default > .panel-heading {
  color: #1C223F;
  border-color: #F4F9FF;
}
.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-heading {

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.collapse {
  display: none;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-group .panel-heading + .panel-collapse > .panel-body{
  border-top: 1px solid #ddd;
}

.panel-body{
  padding: 15px;
}
.collapse.in{
  display: block;
}
.panel-body:after{
  clear: both;
  display: table;
  content: " ";
}

div.tagsinput{
  border: 1px solid #dadada;
  background: #fff;
  padding: 5px;
  overflow-y: auto;
  box-sizing: border-box;
}
div.tagsinput div {
  display: block;
  float: left;
  position: relative;
}
.tagsinput .ui-helper-hidden-accessible {
  display: none;
}
.ui-helper-hidden-accessible{
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}
div.tagsinput input {

  border: none;
  padding: 6px 2px;
  background: transparent;
  margin: 5px 5px 5px 4px;
  font-size: 11px;
}
//END OF  Panel-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

//table------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #F4F9FF;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table > tbody > tr > td{
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;

}

.table > thead{
  background: #337ab7;
  color: white;
  font-weight: 700;
}
thead{
  display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
  display: table-cell;
}

td.docFolders a{
  color: #1C223F;
    font-size: 14px;
    padding-left: 10px;
}
// END OF table------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

// i-box------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox-title {
  border-top: 4px solid #1AB394 !important;
  background: #eee;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}
.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  padding: 0;
  margin: 0 0 7px;
  text-overflow: ellipsis;
  float: left;
  color:#676A6c;
}

.ibox-content {
  clear: both;
  color: inherit;
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-image: none;
}

.ibox-content h3{
  margin-top: 5px;
}

h3{
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.1;
  color: inherit;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
}
.awvAccordionanc{
  display: block;
}
// END OF i-box------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

// Buttons----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
.float-e-margins .btn {
  margin-bottom: 5px;
}

.btn-success {
  background-color: #848484;
  border-color: #999999;
  color: #FFFFFF;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
}

.btn{
  border-radius: 3px;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  font-weight: normal !important;
}

.btn-primary {
  background-color: #848484;
  border-color: #999999;
  color: #FFFFFF;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
}

.btn-warning {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #FFFFFF;
}

.btn-danger{
  background-color: #ed5565;
  border-color: #ed5565;
  color: #FFFFFF;
}
.btn-xs{
  padding: 1px 5px;
  line-height: 1.5;
}
.hide {
  display: none !important;
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
// END OF Buttons----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
#S3Files{
  display: block;
  margin: -115px 0px 0px 0px;
  width: 100%;
  height: 150px;
  opacity: 0;
  cursor: pointer;
}

// Radio-Buttons--------------------------------------------------------------------------------------------------------------------------------------------------------------------->
input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px green inset;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[type='radio']:checked:before {
  background:green;
}
//END OF Radio-Buttons--------------------------------------------------------------------------------------------------------------------------------------------------------------------->



// Dialog - Box-------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

.modal-content{
  background-clip: padding-box;
  background-color: #FFFFFF;
  border-radius: 4px;
  outline: 0 none;
  position: relative;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22) !important;
  border: 1px solid rgba(0,0,0,.2) !important;
}


form {
  display: block;
  margin-top: 0em;
}
.dropzone{
  box-sizing: border-box;
  border: 2px dashed #37cb93;
  border-radius: 5px;
  background: white;
  min-height: 150px;
  width: 100%;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.inmodal .modal-header{
  padding: 26px 17px 10px 15px;
  text-align: center;
}
.modal-header{
  border-bottom: 0px solid #e5e5e5 !important;
}
.modal-header:before{
  display: table;
  content: " ";
}
.modal-header:after{
  clear: both;
  display: table;
  content: " ";
}
.modal-header h3 {
  color: #1C223F;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.inmodal .modal-body {
  background: #fff;
  padding: 20px 30px 30px 30px;
  position: relative;
}
.modal-body{
  padding: 20px 30px 30px 30px;
  position: relative;
}
.modal-footer {
  margin-top: 0;
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer:before{
  display: table;
  content: " ";
}
.modal-footer:after {
  clear: both;
  display: table;
  content: " ";
}

// Dialog - Box-------------------------------------------------------------------------------------------------------------------------------------------------------------------------->




// Media Querry------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
@media (min-width: 992px){
  .col-md-3 {
      width: 25%;
      float: left;
  }
}
@media (min-width: 992px){
  .col-md-9 {
      width: 75%;
      float: left;
  }
}
@media (min-width: 992px){
  .col-md-2 {
      width: 16.66666667%;
      float: left;
  }
}

@media (min-width: 992px){
  .col-md-4 {
      width: 33.33333333%;
      float: left;
  }

}
@media (min-width: 992px){
  .col-md-8 {
      width: 66.66666667%;
      float: left;
  }
}

@media (min-width: 992px){
  .col-md-12 {
      width: 100%;
      float: left;
  }
}
@media (min-width: 992px){
  .col-md-5 {
      width: 41.66666667%;
      float: left;
  }

}
@media (min-width: 992px){
  .col-md-1 {
      width: 8.33333333%;
      float: left;
  }
}
@media (min-width: 992px){
  .col-md-6 {
      width: 50%;
      float: left;
  }
}
@media (min-width: 768px){
  .col-sm-12 {
      width: 100%;
      float: left;
  }

}

@media (min-width: 768px){
  .col-sm-4 {
      width: 33.33333333%;
      float: left;
  }
}



// Media Querry------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

div {
  display: block;
}

.SelectedFolder {
  background-color: #4590d2;
}

.docFolders {
  box-shadow: 0px 0px 2px #777;
  border-top: none !important;
}

.fa {
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);

}
.fa-anchor:before {
  content: "\f13d";
}
.fa-print:before{
  content: "\f02f";
}
.SelectedFolderLink {
  color: white !important;
}
a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: #337ab7;

}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.fa.pull-left{
  margin-right: .3em;
}
.docFolders{
  box-shadow: 0px 0px 2px #777;
  border-top: none !important;
}


//POPUP
.dropzone {
  border: 2px dashed #37cb93;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: white;
  min-height: 150px;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
}

  .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
      cursor: pointer;
  }

  .dropzone .dz-message {
      font-weight: 400;
      text-align: center;
      margin: 2em 0;
  }

  .dropzone, .dropzone * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }

#S3Files {
  display: block;
  margin: -115px 0px 0px 0px;
  /*border: 1px solid #000;*/
  width: 100%;
  height: 150px;
  opacity: 0;
  cursor: pointer;
}

//Tags------------------------------------------------------------------------------------------------------------------------------------------------------------------>

div.tagsinput span.tag {
  border: 1px solid #a5d24a;
  border-top-color: rgb(165, 210, 74);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(165, 210, 74);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(165, 210, 74);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(165, 210, 74);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  display: block;
  float: left;
  padding: 0 8px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  background: #cde69c;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(205, 230, 156);
  color: #638421;
  margin: 5px 5px 5px 5px;
  line-height: 23px;
  font-size: 11px;
}
div.tagsinput {
border: 1px solid #dadada;
  border-top-color: rgb(218, 218, 218);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(218, 218, 218);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(218, 218, 218);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(218, 218, 218);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background: #fff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  box-sizing: border-box;
  width: 85%;
  min-height: auto;
  height: auto;
}

div.tagsinput div {
  display: block;
  float: left;
  position: relative;
}
.tagsinput .ui-helper-hidden-accessible {
  display: none;
}

div.tagsinput input {
  border: none;
  padding: 6px 2px;
  background: transparent;
  margin: 5px 5px 5px 4px;
  font-size: 11px;
}

// End Of Tags ----------------------------------------------------------------------------------------------------------------------------------------------------------------------->

