<div class="ibox float-e-margins tabpages" id="dvScheduleAppointmentDocumentSec">
    <div class="ibox-title">
        <h5>Documents</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div id="dvScheduleAppointmentDocumentList"><div class="row">

<div class="col-md-3">
    <label style="font-weight: 900; text-decoration: underline;">
        Folders</label>
    <br>

    <div id="dvFolders">
        <div id="dvFolderscontainer" style="max-height: 550px; overflow: auto; position: relative;">
    <table class="table table-striped table-hover">
                <tbody><tr>
                    <td class="docFolders SelectedFolder">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder SelectedFolderLink" data-id="1" data-req-url="/Patient/GetEpisodeDocumentManagement" data-updatecontainer="#dvepisodeDocmentFoldersfiles" data-categoryid="1" data-surgeonid="" data-surgerydetailsid="">Intake</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders addclassbilling">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="2"  data-categoryid="2" data-surgeonid="" data-surgerydetailsid="">Billing</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="3"  data-categoryid="3" data-surgeonid="" data-surgerydetailsid="">Diagnostic Testing</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="4"  data-categoryid="4" data-surgeonid="" data-surgerydetailsid="">Insurance Correspondence</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="5"  data-categoryid="5" data-surgeonid="" data-surgerydetailsid="">Medical Records </a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="6"  data-categoryid="6" data-surgeonid="" data-surgerydetailsid="">Plan of Action</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="7"  data-categoryid="7" data-surgeonid="" data-surgerydetailsid="">Referrals (Rx)</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="8"  data-categoryid="8" data-surgeonid="" data-surgerydetailsid="">Pre - Surgical Charts</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="9"  data-categoryid="9" data-surgeonid="" data-surgerydetailsid="">WC Correspondance</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="3514"  data-categoryid="10" data-surgeonid="" data-surgerydetailsid="">Physical Therapy</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="12758"  data-categoryid="11" data-surgeonid="" data-surgerydetailsid="">Surgical Chart</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="20300"  data-categoryid="12" data-surgeonid="" data-surgerydetailsid="">Attorney Correspondence</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="20311"  data-categoryid="13" data-surgeonid="" data-surgerydetailsid="">Internal Chart Documents</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="21787"  data-categoryid="15" data-surgeonid="" data-surgerydetailsid="">Intra office Records</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="21790"  data-categoryid="17" data-surgeonid="" data-surgerydetailsid="">Authorization Documents</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="22575"   data-categoryid="14" data-surgeonid="" data-surgerydetailsid="">External Medical File</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="22576"  data-categoryid="17" data-surgeonid="" data-surgerydetailsid="">dfgfdgff</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="22581"   data-categoryid="18" data-surgeonid="" data-surgerydetailsid="">new test</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="22583"   data-categoryid="19" data-surgeonid="" data-surgerydetailsid="">new test</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="22780"  data-categoryid="20" data-surgeonid="" data-surgerydetailsid="">Test Billing</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="23804"  data-categoryid="17" data-surgeonid="" data-surgerydetailsid="">Test123</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr>
                    <td class="docFolders">
                        <i class="fa fa-anchor" aria-hidden="true" title="Standard Folder"></i>
                        <a href="javascript:void(0)" class="ancSelectEpisodeDocumentFolder" data-id="23805"  data-categoryid="18" data-surgeonid="" data-surgerydetailsid="">test mbk og</a>
                        <span class="label label-success pull-right spnDocCount">0</span>
                    </td>
                </tr>
                <tr *ngFor="let item of NewFolderArray;let i = index;" >
                  <td class="docFolders">
                      <i class="fa fa-user" aria-hidden="true" title="User Created Folder"></i>
                      <a href="javascript:void(0)"  style="color: black" >{{item.name}}</a>
                      <span class="label label-success pull-right spnDocCount">0</span><br>
                          <div class="col-md-1" style="padding: 0px">
                              <a href="javascript:void(0)" (click)="OnFolderEditClick(i)" id="btnaddnewFolder"><i class="fa fa-pencil btnaddnewFolder" aria-hidden="true" title="Edit Folder"></i></a>
                          </div>
                          <a href="javascript:void(0)" id="btndeletedocumentfolder" (click)="OnFolderDeleteClick(i)"><i class="fa fa-trash-o btndeletedocumentfolder" aria-hidden="true" title="Delete Folder"></i></a>
                  </td>
              </tr>

              <!-- <p-dialog id="custom" [(visible)]="deleteconfirmation" [showHeader]="false" [modal]="true" [responsive]="true"
              [style]="{width: '900px', minWidth: '410px'}" [positionTop]="89" [draggable]="false" [closable]="false" [blockScroll]='true'>
                  <div class="modal-body">All the document in this folder will be deleted but you can still restore them at the later point, Are you sure you want to delete the folder? </div>
              <div class="modal-footer"><a data-handler="0" class="btn null" href="javascript:;" (click)="OnCloseconfirmation()">No</a><a data-handler="1" class="btn btn-primary" href="javascript:;"(click)="OnDeleteConfirm(value)">Yes</a></div>
              </p-dialog> -->
    </tbody></table>
 </div>

    </div>
    <br>

    <label style="font-weight: 900; text-decoration: underline;">
        Actions
    </label>

    <table class="table table-striped  table-hover">
        <tbody><tr class="dvaddhideforrequestaccess">
            <td class="docFolders docActions">
                <a (click)="openDialog('addnewfolder')" href="javascript:void(0)"   id="btnaddnewFolder">Add New Folder</a>
            </td>
        </tr>

        <tr class="dvaddhideforrequestaccess">
            <td class="docFolders docActions"><a href="javascript:void(0)" id="btnGiveAccess" >Share Files</a></td>
        </tr>
        <tr class="dvaddhideforrequestaccess">
            <td class="docFolders docActions"><a href="javascript:void(0)" id="btnMoveDoucmentView" >Copy Files</a></td>
        </tr>

        <tr>
            <td class="docFolders docActions"><a href="javascript:void(0)">Print Files</a></td>
        </tr>
            <tr>
                <td class="docFolders"><a href="javascript:void(0)" class="showall">Show All Files in this Episode</a></td>
            </tr>
            <tr>
                <td class="docFolders"><a href="javascript:void(0)"  class="showPatientDocument">Show All Documents for this Patient</a></td>
            </tr>
            <tr>
                <td class="docFolders"><a href="javascript:void(0)"  class="showDeletedPatientDocument">Show All Deleted Documents for this Patient</a></td>
            </tr>

    </tbody></table>


</div>
<div class="col-md-9">
    <div id="dvepisodeDocmentFoldersfiles">

<div class="row">
<div class="col-md-12" style="margin-top: 22px; padding:0px;">
    <div class="panel-group">

        <div class="panel panel-default" style="margin-bottom: 2px;">
            <div class="panel-heading rea" style="background-color: #4590d2; padding: 10px 5px 2px 5px;">

                <h3 style="font-size:95%;">
                    <a data-toggle="collapse" data-parent="#accordion" href=".dvRefSrcSection" style="color: white;" class="awvAccordionanc collapsed">Search / Filter Documents</a>
                    <span style="float: right;">
                        <span class="" id="dvAddNewDoc">

                          <a href="javascript:void(0);" style="margin-top:-30px; font-size:95%; font-weight:normal;" title="Upload Group Documents" class="link btn btn-danger btn-xs" id="btnUploadWholeDocument" (click)="OnOpenUploadGroupDOC()"><i class="fa fa-print pull-left" style="padding-top: 3px;"></i>Upload Group Documents</a>&nbsp;
                          <a href="javascript:void(0);" style="margin-top:-30px; font-size:95%; font-weight:normal;" title="Print Files" class="link btn btn-danger btn-xs" id="btnPrintAllDocumentFiles" ><i class="fa fa-print pull-left" style="padding-top: 3px;"></i>Print Files</a>&nbsp;
                          <a href="javascript:void(0);" style="margin-top:-30px; font-size:95%; font-weight:normal;" title="Procedure Packets" class="link btn btn-danger btn-xs hide" id="btnProcedurePacketsDoc" ><i class="fa fa-file-text pull-left" style="padding-top: 3px;"></i>Download Surgical Packets</a>
                          <a href="javascript:void(0)" style="margin-top:-30px; font-size:95%; font-weight:normal;" id="btnaddnewDocument" class="btn btn-warning btn-xs" (click)="OnAddNewDocs()">Add New Documents</a>
                        </span>
                    </span>
                </h3>
            </div>
            <div id="dvRefSrcSection" class="panel-collapse dvRefSrcSection collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body ">
                    <div id="dvDocFilters">
                        <div class="dvdocumentFilters">
<div class="row">
<div class="col-md-2">
    <label style="font-size: 8pt;">
        Provider
    </label><br>
    <select class="form-control chosen-select" data-req-url="/Patient/GetAffiliatedProviders" data-update-container="#ddlPatientProvider" data-val="true" data-val-number="The field MemberId must be a number." data-val-required="The MemberId field is required." id="ddldocProviders" name="CaseManager.MemberId" style="width: 100%; display: none;"><option value="">Any</option>
<option value="1330">N mahesh</option>
</select><div class="chosen-container chosen-container-single" style="width: 100%" title="" id="ddldocProviders_chosen"><a class="chosen-single"><span>Any</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"><li class="active-result result-selected" data-option-array-index="0" style="">Any</li><li class="active-result" data-option-array-index="1" style="">N mahesh</li></ul></div></div>
</div>
 <div class="col-md-4">
    <label style="font-size: 8pt;">
        Document Type
    </label>
    <p-dropdown styleClass="input-md formcontrol chosen-select " filter="true" [options]="documentType"
    placeholder="select" optionLabel="label">
</p-dropdown>
</div>
<div class="col-md-3">
    <label style="font-size: 8pt;">
       Creation (Start Date)
    </label>
     <input type="text" id="txtcreationStartDate" style="width:120px;" placeholder="mm/dd/yyyy" data-mask="99/99/9999" class="form-control datepicker hasDatepicker">
</div>
 <div class="col-md-3">
    <label style="font-size: 8pt;">
       Creation (End Date)
    </label>
      <input type="text" id="txtCreationEndDate" style="width:120px;" placeholder="mm/dd/yyyy" data-mask="99/99/9999" class="form-control datepicker hasDatepicker">
</div>
</div>
<br>
<div class="row">
 <div class="col-md-3">
    <label style="font-size: 8pt;">
       Treatment (Start Date)
    </label>
     <input type="text" id="txtTreatmentStartDate" style="width:120px;" placeholder="mm/dd/yyyy" data-mask="99/99/9999" class="form-control datepicker hasDatepicker">
</div>
 <div class="col-md-3">
    <label style="font-size: 8pt;">
       Treatment (End Date)
    </label>
      <input type="text" id="txtTreatmentEndDate" style="width:120px;" placeholder="mm/dd/yyyy" data-mask="99/99/9999" class="form-control datepicker hasDatepicker">
</div>
 <div class="col-md-3">
     <a href="javascript:void(0)" class="btn btn-primary" style="margin-top: 23px;" id="btnSearchDocumentFiles" data-req-url="/Patient/GetEpisodeFoldersDocumentFiles" data-update-container="#dvepisodeDocmentFoldersfileslist">Search</a>
     </div>
</div>
</div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dvepisodeDocmentFoldersfileslist">
        <a href="javascript:void(0)" class="btn btn-primary btn-sm hide" id="btnGiveAccess" data-geturl="/Patient/UpdateMultipleDocumentAccessMember" data-updatecontainer="#dvPopupTopNode">Give Access To Member</a><br>

<table class="table table-striped" style="width: 100%; table-layout: fixed;">
    <tbody><tr>
        <td><span class="warning">No Files Found</span></td>
    </tr>
</tbody></table>

<div class="custompagination pull-right epdocuments" style="margin-top:-17px" data-req-url="/Patient/GetEpisodeFoldersDocumentFiles" data-update-container="#dvepisodeDocmentFoldersfileslist">
<span class="label pagerInfo">Total Items <strong>0</strong></span>
</div>
    </div>
</div>
</div>
<input type="hidden" id="hddCategoryId" value="1">
<input type="hidden" id="hddEpisodeFolderId" value="1"></div>
</div>
</div>
</div>
            <br>
            <a href="javascript:void(0)" class="btn btn-success pull-right  btncommoncomplete" data-getoffice-url="/Patient/EpisodeTreatmentDashboard" id="" data-presurgicalurl-url="/Patient/PreSurgicalDashBoard">Complete</a>
            <a href="javascript:void(0)" class="btn btn-primary pull-right" id="btnNextSheduleAppointmentDoucment" style="margin-right:8px" data-currentcontainer="#dvScheduleAppointmentCareTeamSec" data-hidecontainer="#dvScheduleAppointmentDocumentSec" data-get-url="/Patient/CareteamMembersLoad" data-update-container="#dvListEpisodeMem">Next</a>
            <a href="javascript:void(0)" style="margin-right: 10px" class="btn btn-warning pull-right  btnPreviousWidget" id="">Previous</a>
        </div>
    </div>
</div>





<p-dialog id="custom" [showHeader]="false" [(visible)]="addnewfolder"
   [style]="{width:'30%'}" [draggable]="false" [closable]="false" [modal]="true" [responsive]="true">


        <div class=" head">
          <div class="modal-header">
              <a href="javascript:void(0)" (click)="closeDialog('addnewfolder')" class="btn btn-small btn-danger pull-right">Close</a>
              <h3 >Add New Folder</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-8">
                      <label>Name<span style="color:red;">*</span></label>
                      <input class="form-control"  [(ngModel)]="folderName" data-val="true" data-val-required="The Name field is required." id="txtepisodedocfolname" maxlength="500" name="Name" type="text" value="">
                      <input type="hidden" id="hidedocumentfolderid">
                  </div>
              </div>
          </div>
          <div class="modal-footer" *ngIf="createbtn">
              <button href="javascript:void(0)" (click)="OnCreateNewFolder()" id="btnSaveepidocfolder" class="btn btn-primary" >Save</button>
          </div>
          <div class="modal-footer" *ngIf="updatebtn">
            <button href="javascript:void(0)" (click)="OnUpdate()" id="btnSaveepidocfolder" class="btn btn-primary" >Save</button>
        </div>
      </div>

</p-dialog>



<!-- Upload Group Documents -->
<p-dialog id="custom" [(visible)]="UploadDoc" [modal]="true" [showHeader]="false" [responsive]="true" [style]="{width: '1911px', minWidth: '410px',minHeight:'476px'}"
    [positionTop]="64" [draggable]="false" [closable]="false" [blockScroll]='true' [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden',
    'max-height': '80vh','min-height':'250px'}">
<form [formGroup]="groupDoc_form" (ngSubmit)="OnSubmitGroupDocs()">

        <div class="modal-header">
            <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-small btn-danger pull-right" (click)="OnCloseDocUpload()">Close</a>
            <h3>Upload Group Documents</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <label>Select Surgery</label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div id="dvAttach" class="attchcontrols" data-download-url="/">
                        <div>

        <div class="fallback" ondrop="upload_file(event)">
            <label class="dropzone" style="padding: 0px;">
                <i class="fa fa-cloud-upload" style="font-size: 70px; color: #36cb94; margin-top: 15px;"></i>
                <h2 style="font-size: 18px; margin: 0px;">Drop files here or click to upload.</h2>
                <input id="S3Files" formControlName="selectSurgery"  class="S3FileUpload_3ee58" data-classname="S3FileUpload_3ee58" name="file" type="file" data-bucketfolder="yourdrs-qa/UploadFilesTemp/TempPatientGroupFiles" data-attachmentlistname="" multiple="" data-ismessageattachment="0" data-fileuploadacceptextension=".pdf" data-noofdocsallowed="1" data-isfromuploadgroupdocument="1" data-isfrompaymentdocuments="0">
            </label>
        </div>

    <div role="presentation" style="width: 100%;" data-toggle="modal-gallery; " data-target="#modal-gallery" class="s3files_S3FileUpload_3ee58">
    </div>
    <div class="results_S3FileUpload_3ee58">
    </div>
</div>
</div>
<div class="col-md-2 pull-right" style="padding-top: 9px; margin-right: -111px;">
                        <a href="javascript:void(0)" class="btn btn-primary" data-get-url="/Patient/GetS3DocumentViewer" data-update-container=".attachedgroupdocumentdetails" data-folderpath="UploadFilesTemp/TempPatientGroupFiles" id="btnloadattacheddocument">Load Files</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-5 " style="padding: 0px;">
                    <div class="dvparentgroupdocmentfileds" id="dvReferenceGroup">
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    Page
                                </label>
                                <span style="color: red">*</span>
                                <input type="number"  formControlName="selectPage" id="txtpagefrom" class="form-control txtpagefrom" onkeypress="return ValidatePageNoForUploadGrpDoc(event);">
                            </div>
                            <div class="col-md-4">
                                <label>
                                    Document Catgory
                                </label>
                                <span style="color: red">*</span>
                                <p-dropdown  formControlName="docCategory" styleClass="input-md formcontrol chosen-select " filter="true" [options]="documentCategory"
                                placeholder="select" optionLabel="label">
                            </p-dropdown>
                        </div>
                            <div class="col-md-4">
                                <label>
                                    Document Type<span style="color: red;">*</span>
                                </label>
                                <p-dropdown formControlName="docType" styleClass="input-md formcontrol chosen-select " filter="true" [options]="documentType"
                                placeholder="select" optionLabel="label">
                            </p-dropdown>
                            </div>
                        </div>
                        <div class="row">
                            <div id="Provider_Id" class="col-md-4 documentprovider">
                                <label>
                                    Provider
                                </label>
                                <p-dropdown  formControlName="providerSelect" styleClass="input-md formcontrol chosen-select " filter="true" [options]="provider"
                                placeholder="select" optionLabel="label">
                            </p-dropdown>
                                   </div>
                            <div id="ReferredBy_Id" class="col-md-4 otherprovider" style="display: none;">
                                <label>
                                    Referred By
                                </label>
                                <input type="text"  class="form-control requestedbyGroupdocumentmembersTagsinput" data-req-url="/Admin/SearchEpisodeMembers_Tags" data-mem-id="">
                                <span class="input-group-addon"><a href="javascript:void(0)" class="fa fa-search" id="btnSearchDocumentMember" title="Search Member" data-req-url="/Admin/GetReferralSourceMembers" data-update-container="#dvPopupTopNode2" data-search-updatecontainer=".requestedbyGroupdocumentmembersTagsinput" data-view-container="#dvReferenceGroup" data-reftypecontainer="#ddlEditFromReferralSource"></a></span>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    Treatment Date
                                </label>
                                <input bsDatepicker formControlName="treatmentDate" class="form-control  datepicker txtuploaddocdatepicker hasDatepicker" data-mask="99/99/9999" data-val="true" data-val-date="The field TreatmentDate must be a date." id="txtuploaddocdatepicker" name="TreatmentDate" placeholder="mm/dd/yyyy" type="text" value="">
                            </div>
                            <div class="col-md-4">
                                <label>Description</label>
                                <input  formControlName="Description" class="form-control txtupldgroupDescription txtNotAllowSpecialCharctersAllowSpace" id="txtupldgroupDescription" maxlength="500" name="Description" style="width:100%" type="text" value="">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-4">
                                <label>File Name <span style="color: red;">*</span></label>
                                <input  formControlName="fileName" class="form-control txtupldgroupfilename txtNotAllowSpecialCharcters" id="txtupldgroupfilename" name="FileName" style="width:100%" type="text" value="">
                            </div>
                            <div class="col-md-2" style="padding-top: 20px;">
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary" id="btnAdduploadgroupdocumentfields" (click)="OnAddnewClick()">Add New</a>
                            </div>
                            <div class="col-md-2" style="padding-top: 20px;">
                                <a href="javascript:void(0)" class="btn btn-small btn-danger btnRemoveuploadgroupdocumentfieldsrow" style="display: none;"><em class="fa fa-times" aria-hidden="true"></em>Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-7" style="position: -webkit-sticky; position: sticky; top: 0;">
                    <div class="row attachedgroupdocumentdetails">
                        <iframe id="iframegrouppdf" src="" frameborder="0" allowtransparency="true" width="100%" style="width: 100%;"></iframe>
                    </div>
                </div> -->
            </div>


            <div class="row" *ngFor="let item of AddNewDocRow; let i = index;">
              <div class="col-md-5 " style="padding: 0px;">
                  <div class="dvparentgroupdocmentfileds" id="dvReferenceGroup">
                      <div class="row">
                          <div class="col-md-4">
                              <label>
                                  Page
                              </label>
                              <span style="color: red">*</span>
                              <input type="number"  formControlName="selectPage2" id="txtpagefrom" class="form-control txtpagefrom" onkeypress="return ValidatePageNoForUploadGrpDoc(event);" value="{{item.selectPage}}">
                          </div>
                          <div class="col-md-4">
                              <label>
                                  Document Catgory
                              </label>
                              <span style="color: red">*</span>
                              <p-dropdown  formControlName="docCategory2" styleClass="input-md formcontrol chosen-select " filter="true" [options]="documentCategory"
                              placeholder="select" optionLabel="label" [(ngModel)]="item.docCategory">
                          </p-dropdown>
                      </div>
                          <div class="col-md-4">
                              <label>
                                  Document Type<span style="color: red;">*</span>
                              </label>
                              <p-dropdown formControlName="docType2" styleClass="input-md formcontrol chosen-select " filter="true" [options]="documentType"
                              placeholder="select" optionLabel="label" [(ngModel)]="item.docType">
                          </p-dropdown>
                          </div>
                      </div>
                      <div class="row">
                          <div id="Provider_Id" class="col-md-4 documentprovider">
                              <label>
                                  Provider
                              </label>
                              <p-dropdown  formControlName="providerSelect2" styleClass="input-md formcontrol chosen-select " filter="true" [options]="provider"
                               optionLabel="label" [(ngModel)]="item.providerSelect">
                          </p-dropdown>
                                 </div>
                          <div id="ReferredBy_Id" class="col-md-4 otherprovider" style="display: none;">
                              <label>
                                  Referred By
                              </label>
                              <input type="text"  class="form-control requestedbyGroupdocumentmembersTagsinput" value="{{item.refferedBy}}" data-mem-id="">
                              <span class="input-group-addon">
                                <a href="javascript:void(0)" class="fa fa-search" id="btnSearchDocumentMember" title="Search Member"></a></span>
                          </div>
                          <div class="col-md-4">
                              <label>
                                  Treatment Date
                              </label>
                              <input bsDatepicker formControlName="treatmentDate2" class="form-control  datepicker txtuploaddocdatepicker hasDatepicker" data-mask="99/99/9999" data-val="true" data-val-date="The field TreatmentDate must be a date." id="txtuploaddocdatepicker" name="TreatmentDate" placeholder="mm/dd/yyyy" type="text" value="{{item.treatmentDate}}">
                          </div>
                          <div class="col-md-4">
                              <label>Description</label>
                              <input  formControlName="Description2" class="form-control txtupldgroupDescription txtNotAllowSpecialCharctersAllowSpace" id="txtupldgroupDescription" maxlength="500" name="Description" style="width:100%" type="text" value="{{item.Description}}">
                          </div>
                      </div>
                      <div class="row" style="margin-bottom: 20px;">
                          <div class="col-md-4">
                              <label>File Name <span style="color: red;">*</span></label>
                              <input  formControlName="fileName2" class="form-control txtupldgroupfilename txtNotAllowSpecialCharcters" id="txtupldgroupfilename" name="FileName" style="width:100%" type="text" value="{{item.fileName}}">
                          </div>
                          <div class="col-md-2" style="padding-top: 20px;">
                              <a href="javascript:void(0)" class="btn btn-sm btn-primary" id="btnAdduploadgroupdocumentfields" (click)="OnAddnewClick2()">Add New</a>
                          </div>
                          <div class="col-md-2" style="padding-top: 20px;">
                              <a href="javascript:void(0)" class="btn btn-small btn-danger btnRemoveuploadgroupdocumentfieldsrow" style="display: block;" (click)="OnRemoveClick(i)"><em class="fa fa-times" aria-hidden="true"></em>Remove</a>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- <div class="col-md-7" style="position: -webkit-sticky; position: sticky; top: 0;">
                  <div class="row attachedgroupdocumentdetails">
                      <iframe id="iframegrouppdf" src="" frameborder="0" allowtransparency="true" width="100%" style="width: 100%;"></iframe>
                  </div>
              </div> -->
          </div>
        </div>
        <div class="modal-footer">
            <button href="javascript:void(0)" class="btn btn-primary pull-right btnprocessing" id="btnSaveGroupDocument" type="button" >Save</button>
            <br>
            <br>
            <br>
        </div>

      </form>
</p-dialog>
<!-- Upload Group Documents -->

<!-- Add New Documents -->
<p-dialog id="custom" [(visible)]="AddNewDoc" [modal]="true" [showHeader]="false" [responsive]="true" [style]="{width:'88%',left:'121px'}"
    [positionTop]="64" [draggable]="false" [closable]="false" [blockScroll]='true' [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden',
    'max-height': '80vh','min-height':'250px'}">
<form [formGroup]="AddNewDoc_Form" (ngSubmit)="OnAddNewFormSubmit()">
        <div class="modal-header">
            <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-small btn-danger pull-right" id="btnCloseAddEpisodeDocPopup" (click)="OnCloseAddNewDoc()">Close</a>
                <h3>Add New Document</h3>
        </div>

        <div class="modal-body" style="padding: 20px 30px 40px 30px;">
            <div class="ibox-content" style="background-color: #e8f6ff;">
                <label>
                    <h3>Attach Document</h3>
                </label>
                <br>
                <div class="dvepisodedocfirstrow" id="dvEpisodeAdddocForMulti" style="border: 2px dashed #37cb93; padding: 15px; margin-bottom: 10px">

    <div class="row">
        <div class="col-md-12 otherprovider hide">
            <div class="row col-md-5">
                <label>Referred By</label><br>
                <div class="input-group">
                    <input type="text"  class="form-control requestedbymembersTagsinput" >
                    <span class="input-group-addon"><a href="javascript:void(0)" class="fa fa-search" id="btnSearchDocumentMember" title="Search Member"></a></span>
                </div>
            </div>
            <div class="row col-md-5" style="margin-left: 50px">
                <label>Completed By</label><br>
                <div class="input-group">
                    <input type="text"   class="form-control completedbymembersTagsinput" data-req-url="/Admin/SearchEpisodeMembers_Tags" data-mem-id="">
                    <span class="input-group-addon"><a href="javascript:void(0)" class="fa fa-search" id="btnSearchDocumentMember" title="Search Member"></a></span>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-3 providerdetails">
            <label>
                Provider
            </label>
            <p-dropdown  formControlName="providerDropdown" styleClass="input-md formcontrol chosen-select " filter="true" [options]="providerforAddnewDoc"
                placeholder="select" optionLabel="label" (onChange)="OnProviderSelect($event)">
            </p-dropdown>
        </div>
        <div class="col-md-3">
            <label>
                Document Type <span style="color: red;">*</span>
            </label>
            <p-dropdown  formControlName="doctypeDropdown" styleClass="input-md formcontrol chosen-select " filter="true" [options]="documentType"
            placeholder="select" optionLabel="label">
        </p-dropdown>
        </div>
        <div class="col-md-3 dvddltrtmentdate" *ngIf="providerSelected">
            <label>
                Treatment Date

            </label>
            <p-dropdown   formControlName="treatementDateDropdown" styleClass="input-md formcontrol chosen-select " filter="true" [options]="Treatmentate"
            placeholder="select" optionLabel="label">
        </p-dropdown>
            </div>

        <div class="col-md-2 treatmentdate" *ngIf="!providerSelected">
            <label>
                Treatment Date
            </label>
            <input bsDatepicker formControlName="treatementDate" class="form-control datepicker episodedocTreatmentdate hasDatepicker" data-doc-id="0" data-mask="99/99/9999" data-val="true" data-val-date="The field TreatmentDate must be a date." id="episodedocTreatmentdate" name="EpisodeDocument.TreatmentDate" placeholder="mm/dd/yyyy" type="text" value="">
        </div>

        <div class="col-md-1 clsexdiag" style="margin-top: 30px">
            <a href="javascript:void(0)" class="btnaddepisodedocfirstrow" (click)="OnAddSymbolClick()"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 20px; color: #08ce37;"></i></a>
            <a href="javascript:void(0)" class="btnremoveepisodedocfirstrow" style="display: none;"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 20px; color: #fc0830;"></i></a>
        </div>

    </div>
    <br>
    <div class="row hide" id="dvAddingSameTypeOfDoc">
        <div class="col-md-12">
            <label id="lblNameAddingSameTypeOfDoc" style="color: red;"></label>
            <textarea class="form-control" cols="20" id="txtReasonForAddingSameTypeOfDocument" maxlength="500" name="EpisodeDocument.ReasonForAddingSameTypeOfDocument" rows="2" style="width:100%"></textarea>
        </div>
    </div>
</div>

   <!-- for multiple adding -->
   <div class="dvepisodedocfirstrow"  *ngFor="let item of AttachDocArray; let i = index;" id="dvEpisodeAdddocForMulti" style="border: 2px dashed #37cb93; padding: 15px; margin-bottom: 10px">
   <div class="row" >
    <div class="col-md-3 providerdetails">
        <label>
            Provider
        </label>
        <p-dropdown  formControlName="providerDropdown2" styleClass="input-md formcontrol chosen-select " filter="true" [options]="providerforAddnewDoc"
            placeholder="select" optionLabel="label" (onChange)="OnProviderSelect2($event)" [(ngModel)]="item.providerDropdown">{{item.providerDropdown}}
        </p-dropdown>
    </div>
    <div class="col-md-3">
        <label>
            Document Type <span style="color: red;">*</span>
        </label>
        <p-dropdown  formControlName="doctypeDropdown2" styleClass="input-md formcontrol chosen-select " filter="true" [options]="documentType"
        placeholder="select" optionLabel="label" [(ngModel)]="item.doctypeDropdown">{{item.doctypeDropdown}}
    </p-dropdown>
    </div>
    <div class="col-md-3 dvddltrtmentdate" *ngIf="providerSelected2">
        <label>
            Treatment Date

        </label>
        <p-dropdown   formControlName="treatementDateDropdown2" styleClass="input-md formcontrol chosen-select " filter="true" [options]="Treatmentate"
        placeholder="select" optionLabel="label" [(ngModel)]="item.treatementDateDropdown">{{item.treatementDateDropdown}}
    </p-dropdown>
        </div>

    <div class="col-md-2 treatmentdate"*ngIf="!providerSelected2">
        <label>
            Treatment Date
        </label>
        <input bsDatepicker formControlName="treatementDate2" class="form-control datepicker episodedocTreatmentdate hasDatepicker" data-doc-id="0" data-mask="99/99/9999" data-val="true" data-val-date="The field TreatmentDate must be a date." id="episodedocTreatmentdate" name="EpisodeDocument.TreatmentDate" placeholder="mm/dd/yyyy" type="text" value="{{item.treatementDate}}">
    </div>

    <div class="col-md-1 clsexdiag" style="margin-top: 30px">
        <a href="javascript:void(0)" class="btnaddepisodedocfirstrow" (click)="OnAddSymbolClick2()"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 20px; color: #08ce37;"></i></a>
        <a href="javascript:void(0)" class="btnremoveepisodedocfirstrow" (click)="OnRemoveSymbolClick()" style="display: block;"><i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 20px; color: #fc0830;"></i></a>
    </div>

</div>
</div>
  <!-- for multiple adding -->

<div class="row">
    <div class="col-md-12">
        <label>Description</label>
        <textarea class="form-control" cols="20" id="txtDocumentDescription" maxlength="500" name="EpisodeDocument.Description" rows="2" style="width:100%"></textarea>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <label>
            Document Access <span style="color: red;">*</span>
        </label>
        <br>

        <label class="radio-inline i-checks">
            <input  type='radio' name='Primary' (change)="OnIsPublicClick($event)"  />
            Is Public</label> &nbsp;

        <label class="radio-inline i-checks">
            <input  type='radio' name='Primary' (change)="OnIsPrivateClick($event)" />
             Is Private</label><br>
        <br>
        <label id="lblDocAccessMessage" style="color: red;">You are marking this document as private, which means no one will be able to see this document. To Grant access to this document, you need to manually add people to provide access.</label>
    </div>
</div>
<br>
<br>
<div class="row">
        <div class="col-md-12">
            <div id="dvAttach" class="attchcontrols" data-download-url="/Patient/DownloadPatientDocuments">
<div>
    <form method="POST" enctype="multipart/form-data">
        <div class="fallback" ondrop="upload_file(event)">
            <label class="dropzone" style="padding: 0px;">
                <i class="fa fa-cloud-upload" style="font-size: 70px; color: #36cb94; margin-top: 15px;"></i>
                <h2 style="font-size: 18px; margin: 0px;">Drop files here or click to upload.</h2>
                <input id="S3Files" class="S3FileUpload_4c4ea" data-classname="S3FileUpload_4c4ea" name="file" type="file" data-bucketfolder="yourdrs-qa/UploadFilesTemp/PatientDocuments" data-attachmentlistname="AttachmentList" multiple="" data-ismessageattachment="0" data-fileuploadacceptextension="" data-noofdocsallowed="" data-isfromuploadgroupdocument="0" data-isfrompaymentdocuments="0">
            </label>
        </div>
    </form>

    <div role="presentation" style="width: 100%;" data-toggle="modal-gallery; " data-target="#modal-gallery" class="s3files_S3FileUpload_4c4ea">
    </div>
    <div class="results_S3FileUpload_4c4ea">
    </div>
</div>
</div>
</div>
    </div>
</div>
<br>
<div class="ibox-content" id="dvdocumentacess" style="padding: 15px 20px 40px 20px;" *ngIf="IsPrivate">
                <label>
                    <h3 style="color: gray;">Grant Access To The Attached Document</h3>
                </label>
<div class="row">
    <div class="col-md-3">
        <label>Role</label>
        <p-dropdown styleClass="input-md formcontrol chosen-select " filter="true" [options]="roles"
        placeholder="select" optionLabel="label" (onChange)="OnSelectDocAccessMem($event)">
    </p-dropdown></div>
    <div class="col-md-6">
        <label>Name</label>
        <input type="text" id="txtSearchDocAccessMember" class="form-control" maxlength="100">
    </div>
     <div class="col-md-3" style="margin-top:20px;">
         <a href="javascript:void(0)" id="btnSearchDocumentAccessMembers" class="btn btn-primary" (click)="OnRoleSearchClick()">Search</a>
     </div>
</div><br>
<div class="row">
  <div class="col-md-12">
      <div class="divReminderMembersSelected" id="divReminderMembersSelected">
          <div class="tagsinput " *ngIf="taggedMembers_Cont" style="width: 85%; min-height: 50px; height: auto;">
           <span *ngFor="let item of tagged_Members" class="tag">
                  <span><span><span class="memberdetail">{{item.Name}}</span></span>&nbsp;&nbsp;</span>
                          <a (click)="closetagnote(item)" title="Removing tag">x</a></span>
              <div id="tags1580128833988_addTag"></div>
              <div class="tags_clear"></div>
          </div>
      </div>
  </div>
</div>
<br>
<div *ngIf="DocAccMembersDisp" class="row" style="margin-top: 10px;">
<div class="col-md-12">
   <div id="dvSearchMemberResultForTag">
       <div   class="ibox-content m-b-sm border-bottom m-t-n-xl">
           <table class="table table-striped table-hover table-condensed">
               <thead>
                   <tr style="width: 100%;">
                       <th>
                           <label class="radio-inline i-checks" title="Select All Members">
                               <div class="icheckbox_square-green" style="position: relative;">
                                   <p-checkbox [value]="Filtered_DocAccMembers" formControlName="selectTagMem" inputId="finance"></p-checkbox>
                               </div>
                           </label></th>

                       <th style="max-width: 10%;">Name</th>
                       <th>City</th>
                       <th>State</th>
                       <th style="max-width: 10%; text-align: center"></th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let item of Filtered_DocAccMembers">
                       <td><label class="radio-inline i-checks">
                               <div class="icheckbox_square-green" style="position: relative;">
                                   <p-checkbox name="group2" (onChange)="selectedtagcheck($event,item)" [value]="Filtered_DocAccMembers" inputId="finance">
                                   </p-checkbox>
                               </div>
                           </label></td>
                           <td>{{item.Name}}</td>
                           <td>{{item.City}}</td>
                           <td>{{item.State}}</td>


                   </tr>
               </tbody>
           </table>
           <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination">
           </pagination-controls> -->
       </div>
   </div>
</div>
</div>
<div  *ngIf="NoDisp"class="row">
  <div class="col-md-12">
      <div class="dvDocumentaccessmembers">
<div class="alert-warning">No records found. Please try with different filters.</div>
<div class="custompagination pull-right pagSearchAccessMemberDocuments" style="margin-top:-17px" data-req-url="/Patient/GetDocumentAccessMembers" data-update-container=".dvDocumentaccessmembers">
     <span class="label pagerInfo">Total Items <strong>0</strong></span>
</div></div>
  </div>
</div>
</div>
            <br>
            <div class="row" id="dvcreatetaskdocument">
<div class="row" id="tasktype1">
                 <div class="col-md-12" style="margin: 0 auto;">
        <div class="panel-group" id="accordion-home">

            <div class="panel panel-default" style="margin-bottom: 2px;">
                <div class="panel-heading rea" style="background-color: #1c84c6; padding: 5px 15px;">
                    <h3>
                        <a data-toggle="collapse" data-parent="#accordion" href="#Task" style="color: white;" class="awvAccordionanc">Create Task
                        </a>
                    </h3>
                </div>
                <div id="Task" class="panel-collapse ">
                    <div class="panel-body ">
                <div class="col-md-6">
                <label>Assign To<span style="color: red"></span></label>
                <input type="text" class="input-md createTaskEpisode form-control" id="tags1581499859082" maxlength="200" style="display: none;">
                <div id="tags1581499859082_tagsinput" class="tagsinput createTaskEpisodeTagsInput" style="width: 100%; min-height: auto; height: auto;">
                    <div id="tags1581499859082_addTag">
                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">
                        </span>
                        <input id="tags1581499859082_tag" style="width: 100px; color: rgb(102, 102, 102);" value="" data-default="Search Member" placeholder="Search Member" class="ui-autocomplete-input" autocomplete="off">
                </div><div class="tags_clear"></div></div>

            </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>Subject</label>
                <input type="text" class="msgsub input-md form-control" id="txtsubject"  maxlength="200">

            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>Description <span style="color: red"></span></label>
                <textarea rows="3" class="form-control " id="txttaskDescription" maxlength="2000"></textarea>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Due Date</label>
                <input bsDatepicker type="text" class="form-control datepicker hasDatepicker" data-mask="99/99/9999" id="txtduedatedoc" placeholder="mm/dd/yyyy">

            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Task Type<span style="color: red"></span></label>
                <p-dropdown styleClass="input-md formcontrol chosen-select " filter="true" [options]="taskTypes"
                placeholder="select" optionLabel="label">
            </p-dropdown>
        </div>
        </div>
    </div>
</div>
</div>
</div>
    </div>
     </div>
</div>
</div>
<div class="modal-footer">
            <button href="javascript:void(0)" type="submit" id="btnSaveepidocfolderFile" class="btn btn-primary btnprocessing" >Save</button>
        </div>
      </form>
</p-dialog>
<!-- Add New Documents -->
<p-toast [style]="{ marginTop: '80px' }"></p-toast>
