.btn-primary {
  background-color: #848484;
  border-color: #999999;
  color: #FFFFFF;
  -moz-box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
label, .btn, .nav-tabs > li > a, .badge {
  font-weight: normal !important;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
// @media (min-width: 768px){


// .modal-dialog {
//     width: 600px;
//     margin: 30px auto;

// }
// }

.form-control, .single-line {
  background-color: #FFFFFF;
  background-image: none;
  /* border: 1px solid #e5e6e7; */
  color: inherit;
  display: block;
  padding: 6px 12px;
  width: 100% !important;
  font-size: 14px;
  border-left: 1px solid #CCC !important;
  border-top: 1px solid #CCC !important;
  border-right: 1px solid #CCC !important;
  border-bottom: 2px solid #36cc95 !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.btn-success {
  background-color: #848484;
  border-color: #999999;
  color: #FFFFFF;
  margin-top: 10px;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
}
.agile-list li.info-element {
  border-left: 3px solid #1c84c6;
}
.agile-list li {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  margin: 0 0 5px 0;
  padding: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

// sujit start

::ng-deep #editFIlter .ui-dialog {
    width: 600px;
    top: 20px !important;
    z-index: 100;
}
::ng-deep #editFIlter .ui-dialog .ui-dialog-content {
  height: 100px;
  overflow: auto;
}
::ng-deep #editFIlter .ui-dialog .ui-dialog-titlebar {
  border: 0px;
  background-color: white;
}
::ng-deep #editFIlter .ui-dialog .ui-dialog-content {
  background-color: white;
  color: #333333;
  border: 0px;
  padding: 0.571em 1em;
}
::ng-deep #editFIlter  .ui-dialog .ui-dialog-footer {
  border: 0px;
  background-color: #ffffff;
  color: #333333;
  padding: 0.571em 1em;
  margin: 0;
  text-align: right;
  position: relative;
  top: -1px;
}

//
@media (min-height:600px) and (max-height:700px){
  ::ng-deep #displayColum .ui-dialog .ui-dialog-content {
    height: 400px !important;
    overflow: auto;
  }
}
::ng-deep #displayColum .ui-dialog {
  width: 600px;
  top: 20px !important;
  z-index: 100;
}
::ng-deep #displayColum .ui-dialog .ui-dialog-content {
  height: 730px;
  overflow: auto;
  background-color: white;
  color: #333333;
  border: 0px;
  padding: 0.571em 1em;
}
::ng-deep #displayColum .ui-dialog .ui-dialog-titlebar {
  border: 0px;
  background-color: white;
}

::ng-deep #displayColum  .ui-dialog .ui-dialog-footer {
  border: 0px;
  background-color: #ffffff;
  color: #333333;
  padding: 0.571em 1em;
  margin: 0;
  text-align: right;
  position: relative;
  top: -1px;
}

//
@media (min-height:600px) and (max-height:700px){
  ::ng-deep #filterFields .ui-dialog .ui-dialog-content {
    height: 400px !important;
    overflow: auto;
  }
}
::ng-deep #filterFields .ui-dialog {
  width: 600px;
  top: 20px !important;
  z-index: 100;
}
::ng-deep #filterFields .ui-dialog .ui-dialog-content {
  height: 807px;
  overflow: auto;
  background-color: white;
  color: #333333;
  border: 0px;
  padding: 0.571em 1em;
}
::ng-deep #filterFields .ui-dialog .ui-dialog-titlebar {
  border: 0px;
  background-color: white;
}
::ng-deep #filterFields  .ui-dialog .ui-dialog-footer {
  border: 0px;
  background-color: #ffffff;
  color: #333333;
  padding: 0.571em 1em;
  margin: 0;
  text-align: right;
  position: relative;
  top: -1px;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  -moz-border-image: none;
  -o-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}
.ui-calendar {
  position: relative;
  display: inline-block;
  width: 100% !important;
}
.ui-inputgroup .ui-inputtext {
  padding-left: .5em;
  width: 100% !important;
}

/* Drop Down List Start*/

      body {
        padding: 30px; position: relative
      }

      ::ng-deep #unselectedlist .sortable-item {
      padding: 6px 12px ;
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 1.4em;
      text-align: center;
      cursor: grab;
      border: 1px solid transparent;
      border-radius: 4px;
      border-color: #adadad;
      border-left: 3px solid #1c84c6;
    }
    ::ng-deep #selectedlist .sortable-item {
      padding: 6px 12px ;
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 1.4em;
      text-align: center;
      cursor: grab;
      border: 1px solid transparent;
      border-radius: 4px;
      border-color: #adadad;
      border-left: 3px solid #f8ac59;
    }

    .sortable-item-active {
      background-color: #e6e6e6;
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }

    .sortable-wrapper {
      min-height: 150px;
    }
    #searchSurgeryPopup .ui-dialog{
	    z-index: 1011;
	    left: 400px !important;
	    top: 40px !important;
	    transform: none;
	    opacity: 1;
	    width: 900px !important;
    }

/* Drop Down List End */

// sujit end
h6 {
  color: red;
  text-align: center;
}
h5 {
  text-align: center;;
}
a.btn.btn-primary.pull-right {
  margin-left: 10px;
  color: white;
}
span.star {
  color: red;
}
a.btn.btn-small.btn-danger.pull-right {
  color: white;
}
a.btn.btn-success {
  color: white;
}

