<section class="title-bar">
  <div class="title-bar-table">
    <div class="title-bar-table-cell">
      <div class="container">
        <div id="abt_header" class="row" style="padding-bottom:0px !important">
          <div class="col-md-6">
            <h2 class="text-white">About Us</h2>
            <!--<p>WE ARE BRIVONA WITH 25 YEARS OF EXPERIENCE!</p>-->
          </div>
          <div class="col-12 col-md-6"> </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <section class="about-fix d-none d-md-none d-lg-none d-xl-block">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 col-lg-7 ">
          <div class="d-none d-md-block d-lg-none pdt30"> <img src="/Images/NewYourDrsHome/chuki-4t.png"
              class="img-fluid" alt=""> </div>
          <div class="d-none d-md-none d-lg-block">
            <div id="imgWrap">
              <div class="imgWrap-inner" style="    top: 0px;"> <img src="assets/img/aboutus/logo2.png" class="img-fluid"
                  alt=""> </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-5 ">
          <div class="about-r-width">
            <div class="about-head-padd">
              <h3>Our mission is simple:</h3>
              <h2> Optimize musculoskeletal care for all.</h2>
            </div>
            <div> <img src="assets/img/aboutus/logo3.png" class="img-fluid about-img-width" alt=""> </div>
            <div class="about-head-padd">
              <h3>Patient-Centered </h3>
              <ul class="list-unstyled">
                <li>
                  <h4 class="pdt5 about-font fw400">YourDRs puts you, the patient, first and in control.</h4>
                </li>
              </ul>
              <br>
              <ul class="list-unstyled">
                <li>
                  <h4 class="pdb5 about-font" style="font-weight: 600">You can choose:</h4>
                </li>
                <li>
                  <h4 class="about-font fw400"><span> • </span> Who you see, for what, where, and when.</h4>
                </li>
                <li>
                  <h4 class="about-font fw400"><span> • </span> Or you can leave it to us to refer you to a specialist.
                  </h4>
                </li>
                <div id="stopHere">
                  <h3></h3>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      <div class="row">
        <div class="col-12"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about-l-width">
            <div class="about-head-padd1">
              <h3>Specialties</h3>
              <ul class="list-unstyled pdt5">
                <li>
                  <h4 class="about-font fw400">YourDRs is a network of physicians who

                    specialize in physical medicine &amp; rehabilitation,

                    sports medicine, orthopedic surgery, pain

                    management, and more.</h4>
                </li>
              </ul>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="about-specil-img"> <img src="assets/img/aboutus/logo4.png"
              class="img-fluid mx-auto about-img-width" alt=""> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pdt50">
          <div style="max-width: 70%; margin: 0px auto;"> <img src="assets/img/aboutus/logo5.png"
              class="img-fluid mx-auto about-img-width" alt=""> </div>
        </div>
        <div class="col-md-5 offset-md-1">
          <div>
            <div class="  about-healt-sec">
              <h3>Your Health. Your Records.</h3>
              <ul class="list-unstyled pdt5">
                <li>
                  <h4 class="about-font fw400">When you visit one of YourDRs, your records are

                    securely stored in the cloud.<br>
                    <br>
                    You maintain complete control over your records

                    and can view or share them whenever you want.<br>
                    <br>
                    This way, when you visit another doctor, you can

                    easily and quickly share your records.</h4>
                </li>
              </ul>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-tab-mob d-md-block d-lg-block d-xl-none">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="text-center   at-sec-1a"> <img src="assets/img/aboutus/logo2.png" class="img-fluid" alt=""> </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="at-sec-1">
            <h3>Our mission is simple:</h3>
            <h2> Optimize musculoskeletal care for all. </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-sm-12 order-2  order-sm-2 order-md-1 order-lg-1">
          <div class="at-sec-2">
            <h3>Patient-Centered </h3>
            <ul class="list-unstyled">
              <li>
                <h4 class="pdt5 ">YourDRs puts you, the patient, first and in control.</h4>
              </li>
            </ul>
            <ul class="list-unstyled">
              <li>
                <h4 class="pdb5 "> <span>You can choose:</span></h4>
              </li>
              <li>
                <h4>• Who you see, for what, where, and when.</h4>
              </li>
              <li>
                <h4>• Or you can leave it to us to refer you to a specialist. </h4>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-5 col-sm-12 order-1  order-sm-1 order-md-2 order-lg-2">
          <div class="text-center at-sec-2a"> <img src="assets/img/aboutus/logo3.png" class="img-fluid about-img-width"
              alt=""> </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="at-sec-3a"> <img src="assets/img/aboutus/logo4.png" class="img-fluid mx-auto about-img-width"
              alt=""> </div>
        </div>
        <div class="col-md-6">
          <div class="">
            <div class="at-sec-3">
              <h3>Specialties</h3>
              <ul class="list-unstyled pdt5">
                <li>
                  <h4>YourDRs is a network of physicians who

                    specialize in physical medicine &amp; rehabilitation,

                    sports medicine, orthopedic surgery, pain

                    management, and more. </h4>

                </li>
              </ul>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 order-2  order-sm-2 order-md-1 order-lg-1 ">
          <div class="at-sec-4">
            <div>
              <h3>Your Health. Your Records.</h3>
              <ul class="list-unstyled pdt5">
                <li>
                  <h4>When you visit one of YourDRs, your records are

                    securely stored in the cloud. </h4>
                  <h4 class="pdt10"> You maintain complete control over your records

                    and can view or share them whenever you want. </h4>
                  <h4 class="pdt10"> This way, when you visit another doctor, you can

                    easily and quickly share your records.</h4><br>


                </li>
              </ul>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-5 order-1  order-sm-1 order-md-2 order-lg-2 ">
          <div class="at-sec-4a"> <img src="assets/img/aboutus/logo5.png" class="img-fluid mx-auto about-img-width"
              alt=""> </div>
        </div>
      </div>
    </div>
  </section>
</div>
