.title-bar {
  background-color: #049ec3;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin-top: 118px;
}
.at-sec-1a {
  padding-top: 100px;
}
.text-center {
  text-align: center !important;
}
.text-white {
  color: #fff !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.at-sec-1 {
  padding-top: 220px;
}
.at-sec-1 h3 {
  font-size: 22px;
}

h3 {
  font-size: 35px;
  font-weight: 600;
  color: #07244b;
}
.at-sec-1 h2 {
  font-size: 24px;
}
h2 {
  font-size: 46px;
  font-weight: 600;
  color: #07244b;
}
.at-sec-2 {
  padding-top: 70px;
  text-align: justify;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.at-sec-2 h4 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 400;
}
.pdt5 {
  padding-top: 5px;
}
h4 {
  line-height: 28px;
  color: #07244b;
}
h4.about-font.fw400 {
  /* background: white; */
}
.fw400 {
  font-weight: 400;
}
.about-font {
  font-size: 25px;
  line-height: 36px;
}
.at-sec-2a {
  padding-top: 25px;
  text-align: center;
}
.text-center {
  text-align: center !important;
}
.about-img-width {
  max-width: 88%;
  margin-bottom: 50px;
}
.at-sec-3a {
  padding-top: 90px;
  text-align: center;
}
.at-sec-3 {
  padding-top: 70px;
  text-align: justify;
}
.at-sec-3 h3 {
  font-size: 26px;
  margin-bottom: 0px;
}
.at-sec-3 h4 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 400;
}
.at-sec-2 h4 span {
  font-size: 22px;
  font-weight: 600;
}
h2.text-white {
  font-size: 33px;
  color: #07244b;
}
.about-healt-sec {
  padding-top: 280px;
  padding-bottom: 360px;
  max-width: 90%;
}
@media (min-width: 768px) {
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .at-sec-1 {
    padding-top: 275px;
  }
}

@media (min-width: 992px) {
  .order-lg-1 {
    order: 1;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .at-sec-2 {
    padding-top: 180px;
  }
}

@media (min-width: 992px) {
  .order-lg-2 {
    order: 2;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .about-img-width {
    max-width: 100%;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .at-sec-3 {
    padding-top: 180px;
    text-align: justify;
    padding-left: 30px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .title-bar h2 {
    font-size: 22px;
    font-weight: 600;
    padding-top: 12px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .title-bar {
    margin-top: 92px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .title-bar {
    margin-top: 107px;
  }
}
.at-sec-2 h3 {
  font-size: 26px;
  margin-bottom: 0px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  h3 {
    font-size: 28px !important;
  }
}

.at-sec-4 h3 {
  font-size: 26px;
  margin-bottom: 0px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  h3 {
    font-size: 28px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .at-sec-4 {
    padding-top: 240px;
    text-align: justify;
    padding-right: 30px;
  }
}
