

    <header id="home" class="home-area">
        <div class="header-top-area">
            <div class="">
                <div class="">
                    <div class="col-md-3 col-sm-12">
                        <!-- START LOGO -->
                        <div class="logo">
                            <img src="assets/Images/NewYourDrsHome/newhome/logoindex.png" class="img-responsive logo-width" alt="logo" />
                        </div>
                        <!-- END LOGO -->
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <!-- START MENU   -->
                        <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right" id="menu1">
                                        <li class="active">
                                            <a class="smoth-scroll" href="#home" (click)="scrollDivFunc()">Home <div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#aktina" (click)="scrollDivFunc()">Aktina & AI</a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#ehr" (click)="scrollDivFunc()">EHR</a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#app" (click)="scrollDivFunc()">Mobile App</a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#feature" (click)="scrollDivFunc()">Features</a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#service" (click)="scrollDivFunc()">Services</a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#contact" (click)="scrollDivFunc()">Contact</a>
                                        </li>

                                        <li>
                                            <a class="" data-toggle="modal" data-target="#loginModal" style="cursor: pointer;">Log In</a>
                                        </li>
                                        <!-- <li class="burger">
                                                <span></span>
                                            </li>
                                            <div class="overlay"></div> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END MENU   -->
                    </div>
                </div> <!--end row-->
            </div> <!--end container-->
        </div>
        <div class="home-image-area" data-stellar-background-ratio="0.6">
            <div class="bg-overlay"></div>
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="header-text text-center">
                                    <h2>Your Practice, Your Patients, Your Peace of Mind.</h2>


                                </div>
                            </div>
                        </div> <!--end row-->
                    </div> <!--end container-->
                </div>
            </div>
        </div>
    </header>
    <!--  END HOMEPAGE -->









    <section class="section bg-white" style="padding: 40px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">

                    <div id="owl-experts" class="owl-carousel owl-theme owl-partners clearfix">
                        <div class="item item-experts text-center">
                            <div class="expert-img-container">
                                <div class="avatar"> <a href="#aktina"> <img src="assets/Images/NewYourDrsHome/newhome/ai.png" class="img-responsive" alt="Image" /> </a> </div>
                            </div>
                            <!-- end expert img container -->

                            <div class="clearfix"></div>
                            <h4 class=""><a class="gp-a" href="#aktina">Aktina & AI</a></h4>
                        </div>
                        <!-- end item -->
                        <div class="item item-experts text-center">
                            <div class="expert-img-container">
                                <div class="avatar"> <a href="#ehr"> <img src="assets/Images/NewYourDrsHome/newhome/ehr.png" class="img-responsive" alt="Image" /> </a> </div>
                            </div>
                            <!-- end expert img container -->
                            <div class="clearfix"></div>
                            <h4 class=""><a class="gp-a" href="#ehr">EHR</a></h4>
                        </div>
                        <!-- end item -->
                        <div class="item item-experts text-center">
                            <div class="expert-img-container">
                                <div class="avatar"> <a href="#app"> <img src="assets/Images/NewYourDrsHome/newhome/app.png" class="img-responsive" alt="Image" /> </a> </div>
                            </div>
                            <!-- end expert img container -->
                            <div class="clearfix"></div>
                            <h4 class=""><a class="gp-a" href="#app">Mobile App</a></h4>
                        </div>
                        <!-- end item -->
                        <div class="item item-experts text-center">
                            <div class="expert-img-container">
                                <div class="avatar"> <a href="#feature"> <img src="assets/Images/NewYourDrsHome/newhome/feature.png" class="img-responsive" alt="Image" /> </a> </div>
                            </div>
                            <!-- end expert img container -->
                            <div class="clearfix"></div>
                            <h4 class=""><a class="gp-a" href="#feature">Features</a></h4>
                        </div>
                        <!-- end item -->
                        <div class="item item-experts text-center">
                            <div class="expert-img-container">
                                <div class="avatar"> <a href="#service"> <img src="assets/Images/NewYourDrsHome/newhome/services.png" class="img-responsive" alt="Image" /> </a> </div>
                            </div>
                            <!-- end expert img container -->
                            <div class="clearfix"></div>
                            <h4 class=""><a class="gp-a" href="#service">Services</a></h4>
                        </div>
                        <!-- end item -->
                    </div>
                    <!-- End owl container -->
                </div>
                <!-- End col -->
            </div>
            <!-- End row -->
        </div>
    </section>
    <!-- End container -->


    <div class="section  bg-lblue" id="video">
        <div class="container">
            <div class="row">
                <div class="features-box mt-5 mt-lg-0">
                    <h3>YourDoctors Overview    </h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 module">


                </div>
            </div>
        </div>
    </div>


    <section id="aktina" class="section bg-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 ">
                    <div class="features-box mt-5 mt-lg-0">
                        <h3>Aktina & Artificial Intelligence</h3>

                        <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                            <li class="">Aktina is the the YourDoctors virtual office assistant. You can ask Aktina anything, from scheduling an appointment to confirming that a patient has had their annual physical. </li>
                            <li class="">In addition to Aktina, there is a growing number of features powered by artificial intelligence to make your practice run more efficiently and minimize the amount of time spent on administrative tasks.</li>

                        </ul>
                        <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light" data-toggle="modal" data-target="#myModal">Learn More <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="features-img mx-auto mr-lg-0">
                        <img src="assets/Images/NewYourDrsHome/newhome/aktina.png" alt="image" class="img-fluid img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="ehr" class="section bg-lblue">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="features-box mt-5 mt-lg-0">
                        <h3>Manage All of Your Records in One Place</h3>

                        <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                            <li class="">Certified Electronic Health Records Technology </li>
                            <li class="">Designed to minimize paper from all aspects of your practice</li>
                            <li class="">Patient Portal enhances communication and patient engagement </li>

                        </ul>
                        <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light" data-toggle="modal" data-target="#myModal">Learn More <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-img mx-auto mr-lg-0">
                        <img src="assets/Images/NewYourDrsHome/newhome/ehr1.png" alt="macbook image" class="img-fluid3 img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section id="app" class="section bg-white">
        <div class="shap one"></div>
        <div class="container">

            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="features-img mx-auto mr-lg-0">
                        <img src="assets/Images/NewYourDrsHome/newhome/appstore.png" alt=" image" class="img-fluid" />
                    </div>
                </div>


                <div class="col-lg-7">
                    <div class="features-box mt-5 mt-lg-0">
                        <h3>Run your practice from your phone</h3>

                        <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                            <li class="">Seamlessly transition from computer to smartphone  </li>
                            <li class="">Full practice management functionality within the mobile app</li>
                            <li class="">Dictate, generate reports, virtual visits with patients, and more</li>

                        </ul>
                        <!-- <a href="#" class="btn margin-t-30 waves-effect waves-light" style="background: transparent; border: 0px; width: 28%;"><img src="assets/Images/NewYourDrsHome/newhome/apple-app.png" /></a> -->
                        <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light" data-toggle="modal" data-target="#myModal">Learn More <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="feature" class="section bg-lblue">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="features-box mt-5 mt-lg-0">
                        <h3>Some of Our Favorite Features</h3>
                        <div class="col-md-6">
                            <ul class="text-muted list-unstyled margin-t-15 features-item-list">
                                <li class="">Mobile Dictations </li>
                                <li class="">Virtual Visits</li>
                                <li class="">Arbitration Management</li>
                                <li class="">Custom Reports</li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="text-muted list-unstyled margin-t-15 features-item-list">
                                <li class="">24/7 Support </li>
                                <li class="">Case Management</li>
                                <li class="">Arbitration Management </li>
                                <li class="">Full Migration Support </li>

                            </ul>
                        </div>
                        <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light" data-toggle="modal" data-target="#myModal">Learn More <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="features-img mx-auto mr-lg-0">
                        <img src="assets/Images/NewYourDrsHome/newhome/favorite.png" alt="macbook image" class="img-fluid img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="service" class="section bg-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="features-img mx-auto mr-lg-0">
                        <img src="assets/Images/NewYourDrsHome/newhome/ser.png" alt="macbook image" class="img-fluid1 img-responsive" />
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="features-box mt-5 mt-lg-0">
                        <h3>Services</h3>
                        <div class="col-md-6">
                            <ul class="text-muted list-unstyled margin-t-15 features-item-list">
                                <li class="">EHR </li>
                                <li class="">Practice Management</li>
                                <li class="">Virtual Office Suite</li>
                                <li class="">Mobile Health</li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="text-muted list-unstyled margin-t-15 features-item-list">
                                <li class="">Revenue Cycle Management </li>
                                <li class="">Patient Engagement</li>
                                <li class="">Transcription </li>
                                <li class="">Marketing </li>

                            </ul>
                        </div>
                        <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light" data-toggle="modal" data-target="#myModal">Learn More <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="contact" class="section bg-lblue">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="features-box mt-5 mt-lg-0">
                        <h3>Contact Us!</h3>
                        <p class="text-muted">With offices in the US, India and Greece, we offer unparalleled support at all hours of the day. There is always someone to pick up a call or answer a message. </p>
                        <p class="text-muted">Contact us to schedule a demo today so you can see for yourself how YD will improve your practice.   </p>
                        <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light" data-toggle="modal" data-target="#contact1" style="background:#BCDCFF; border:1px solid #BCDCFF; color: #1069CB; border-color: #BCDCFF !important;">Contact <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 order-1 order-lg-2">
                    <div class="features-img mx-auto mr-lg-0">
                        <img src="assets/Images/NewYourDrsHome/newhome/contact.png" alt="image" class="img-fluid3 img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-5 col-6">
                            <img src="assets/Images/NewYourDrsHome/newhome/b-logo.png" class="img-fluid2 foot-chuki" alt="logo" />
                        </div>

                    </div>
                </div>

                <div class="col-md-5 pad-d-f col-xs-4">
                    <div class="col-md-3">
                        <ul class="list-unstyled">

                            <li class=" " style="padding-bottom: 3px;"><a href="" class="wh">Aktina & AI</a></li>
                            <li class="" style="padding-bottom: 3px;"><a href="" class="wh">EHR</a></li>
                            <li class="" style="padding-bottom: 3px;"><a href="" class="wh">Mobile App</a></li>

                        </ul>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-unstyled">
                            <li class=" " style="padding-bottom: 3px;"><a href="" class="wh">Features</a></li>
                            <li class="" style="padding-bottom: 3px;"><a href="" class="wh">Services</a></li>

                           
                        </ul>
                    </div>

                </div>

                <div class="col-md-3 pad-d-f col-xs-4">

                    <p style="color:#fff; font-family: 'Georgia', 'Raleway', sans-serif;">
                        1-(844) DRS-1010

                    </p>
                    <p style="color:#fff; font-family: 'Georgia', 'Raleway', sans-serif;">
                        info@yourdrs.com
                    </p>

                </div>
            </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p style="color:#fff; font-family: 'Georgia', 'Raleway', sans-serif;">©2020 YourDrs Inc. All rights reserved.</p>
                        </div>
                        <div class="col-4 col-md-8 ">

                            <p style="color:#fff; font-family: 'Georgia', 'Raleway', sans-serif;">Privacy Policy   |   Terms of Use   |   Disclaimers   |   Code of Conduct</p>

                            <!-- <ul class="list-inline">
                              <li class="list-inline-item">

                              <a href="tel:1-888-MED(633)-7474 ">  &nbsp;1-888-MED(633)-7474 </a>
                              </li>

                               <li class="list-inline-item">

                            <a href="mailto:1-888-MED(633)-7474 "> info@hema.com </a>
                              </li>


                              </ul>-->

                        </div>

                    </div>
                </div>
            </div>
    </footer>
















































   







    


