<!-- <br> -->
<div class="container-fluid">
<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>Notification Center</h4>
        </div>
        <div class="col-md-5">

        </div>
        <div class="col-md-4" style="text-align: right;">
         <button type="button" class="align-self-end btn btn-primary button">customize</button>
        </div>
        <div class="row ">
          <div class="col-md-2">
            <h4 class="currentday">SEP<br>30<br>2020</h4>
            <!-- <div class="col align-items-center">
               <h2>SEP</h2>
            </div>
            <div class="col align-items-center">
              <h3 class="">30</h3>
            </div>
            <div class="col align-items-center">
           <h3>2020</h3>
            </div> -->
          </div>
          <div class="col-md-6">

              <!-- <div clas="row">

                    <div class="fullheight">
                  </div>
                  <div class="col-md-8">

                  <div class="item col-md-3 ">Item</div>
                  <div class="item col-md-3">Item</div>
                  <div class="item col-md-3">Item</div>
                  <div class="item col-md-3">Item</div>
                  <div class="item col-md-3">Item</div>
                  <div class="item col-md-3">Item</div>
                  <div class="item col-md-3">Item</div>
                  <div class="item col-md-3">Item</div>

                </div>

            </div> -->
            <main class="grid">
              <div class="box hashColor full-length" ><span  >12 <br> Appointments</span></div>
              <div class="box notification"><span class="color">6 <br> Initial Evals</span></div>
              <div class="box notification"><span class="color">6 <br> Procedures</span></div>
               <div class="box notification"><span class="color">0 <br> Narratives</span></div>
              <div class="box notification"><span class="color">4 <br> Followups</span></div>
               <div class="box notification"><span class="color">6 <br> Depositions</span></div>
              <div class="box notification"><span> <br> </span></div>

            </main>

          </div>

          <div class="col-md-4">
          <main class="grid">
              <div class="box hashColor full-length" >
              <span>6 <br> Pending</span>
              </div>
              <div class="box notification"><span class="color">6 <br> Assessments</span></div>
              <div class="box notification"><span class="color">6 <br> Claims</span></div>
               <div class="box notification"><span class="color">4 <br> Reports</span></div>
              <div class="box notification"><span class="color">6 <br> Dictations</span></div>


            </main>
          </div>
      </div>
    </div>
</div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col">
      <h3>My Desktop</h3>
      </div>
      <div class="col" style="text-align: right;">
        <button type="button" class="align-self-end btn btn-primary button">customize</button>
      </div>
    </div>
    <div class="row">
<div class="col-md-2">
  <div class="card cursore" id="Ncard">
    <label class="otherLabel contactLabel"  >6</label>
    <div class="card-body">
      <!-- <img src="https://img.icons8.com/dusk/64/000000/calendar.png" class="imgHeight"> -->
      <i class="fa fa-calendar fa-lg iconStyle" aria-hidden="true"></i>
      <footer class="text-center "><h4>Scheduler</h4></footer>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="card cursore" id="Ncard">
    <div class="card-body">
      <!-- <img src="https://img.icons8.com/pastel-glyph/64/000000/microphone.png" class="imgHeight"> -->
      <i class="fa fa-microphone iconStyle" aria-hidden="true"></i>
      <footer class="text-center "><h4>Dictations</h4></footer>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="card cursore" id="Ncard">
    <label class="otherLabel contactLabel"  >6</label>
    <div class="card-body">
      <!-- <img src="https://img.icons8.com/officel/16/000000/callback.png" class="imgHeight"> -->
      <i class="fa fa-phone iconStyle " aria-hidden="true"></i>
      <footer class="text-center "><h4>Virtual Visits</h4></footer>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="card cursore" id="Ncard">
    <div class="card-body">
      <!-- <img src="https://img.icons8.com/dusk/64/000000/conference-call.png" class="imgHeight"> -->
      <i class="fa fa-users iconStyle" aria-hidden="true"></i>
      <footer class="text-center "><h4>Patients</h4></footer>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="card cursore" id="Ncard">
    <div class="card-body ">
      <i class="fa iconStyle2" aria-hidden="true">eRX</i>
     <footer class="text-center "><h4>eRX</h4></footer>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="card cursore" id="Ncard">
    <div class="card-body">
      <!-- <img src="https://img.icons8.com/cotton/64/000000/heart-monitor.png" class="imgHeight"> -->
      <i class="fa fa-heartbeat iconStyle1" aria-hidden="true"></i>
      <footer class="text-center "><h4>surgical scheduler</h4></footer>
  </div>
</div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-2" >
      <div class="card cursore" id="Ncard">
        <div class="card-body">
          <!-- <img src="https://img.icons8.com/dusk/64/000000/combo-chart.png" class="imgHeight"> -->
          <i class="fa fa-line-chart iconStyle" aria-hidden="true"></i>

          <footer class="text-center "><h4>Surgical Report</h4></footer>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card cursore" id="Ncard">
        <div class="card-body">
          <!-- <img src="https://img.icons8.com/officel/16/000000/check-book.png" class="imgHeight"> -->
          <i class="fa fa-pencil iconStyle" aria-hidden="true"></i>
          <footer class="text-center "><h4>Assessments</h4></footer>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card cursore" id="Ncard">
        <div class="card-body">
          <!-- <img src="https://img.icons8.com/ios/50/000000/update-tag.png" class="imgHeight"> -->
          <i class="fa fa-tag iconStyle" aria-hidden="true"></i>
          <footer class="text-center "><h4>Invites</h4></footer>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card cursore" id="Ncard">
        <div class="card-body">
          <!-- <img src="https://img.icons8.com/dusk/64/000000/contract-job.png" class="imgHeight"> -->
          <i class="fa fa-user iconStyle" aria-hidden="true"></i>
          <footer class="text-center "><h4>Profile</h4></footer>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card cursore" id="Ncard">
        <label class="otherLabel contactLabel">6</label>
        <div class="card-body">
          <!-- <img src="https://img.icons8.com/dusk/64/000000/new-message.png" class="imgHeight"> -->
          <i class="fa fa-commenting iconStyle" aria-hidden="true"></i>

          <footer class="text-center "><h4>Message</h4></footer>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card cursore" id="Ncard">
        <div class="card-body">
          <!-- <img src="https://img.icons8.com/plasticine/64/000000/todo-list.png" class="imgHeight"> -->
          <i class="fa fa-list-ol iconStyle" aria-hidden="true"></i>
          <footer class="text-center "><h4>To Do</h4></footer>
      </div>
    </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="card cursore" id="Ncard">
            <div class="card-body">
              <!-- <img src="https://img.icons8.com/dusk/64/000000/insert-money-euro.png" class="imgHeight"> -->
              <i class="fa fa-usd iconStyle" aria-hidden="true"></i>

              <footer class="text-center "><h4>Claims</h4></footer>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card cursore" id="Ncard">
            <div class="card-body">
              <!-- <img src="https://img.icons8.com/nolan/64/bank-cards.png" class="imgHeight"> -->
              <i class="fa fa-money iconStyle" aria-hidden="true"></i>
              <footer class="text-center "><h4>Billings</h4></footer>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card cursore" id="Ncard">
            <div class="card-body">
              <!-- <img src="https://img.icons8.com/nolan/64/settings.png" class="imgHeight"> -->
              <i class="fa fa-cog iconStyle" aria-hidden="true"></i>
              <footer class="text-center "><h4>Settings</h4></footer>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!-- <div class="card" id="Ncard">
            <div class="card-body">

            </div>
          </div> -->
        </div>
        <div class="col-md-2">
          <!-- <div class="card" id="Ncard">
            <div class="card-body">

            </div>
          </div> -->
        </div>
        <div class="col-md-2">
          <!-- <div class="card" id="Ncard">
            <div class="card-body">

          </div>
        </div> -->

            </div>
          </div>
</div>
</div>
