

<section id="section1">
  <div class="container-fluid">
      <div class="row">
          <div class="col--12">
              <img src="assets/img/virtualvisit/virtual-banner.jpg" class="img-fluid v-banner" alt="">
          </div>
      </div>
  </div>
</section>

<section id="section-1" class="green-bg-gradient" style="padding: 120px 0px 100px 0px; display: block;">

  <div class="container" style="z-index: 2">
      <div class="row">
          <div class="col-lg-7 col-xl-7 order-2  order-sm-2 order-md-2 order-lg-1">

              <div class="v-how-work">
                  <h2>How does it work?</h2>

                  <h3 class="v-work-h3" style="">For when you can’t make it to one of our locations </h3>
                  <h4>• Tell us where it hurts</h4>
                  <h4>• Pick a time frame you’d like to meet</h4>
                  <h4>• Take a picture of your insurance card</h4>
                  <div class="clearfix"></div>

            </div>
        </div>


          <div class="col-xl-5 col-lg-5 order-1  order-sm-1 order-md-1 order-lg-2">

              <img src="assets/img/virtualvisit/vv-drs.png" class="img-fluid" style="position: relative; z-index: 2;" alt="">
          </div>




      </div>


  </div>
  <!-- Delete  bg-bubbles ul to removee quare anomation on background -->
  <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>

</section>

<div class="clearfix"></div>
<section id="section-2" class="blue-bg-gradient" style="padding: 100px 0px 100px 0px;">

  <div class="container">

      <div class="row">



          <div class="col-xl-5 col-lg-5">

              <img src="assets/img/virtualvisit/vv-pay.png" class="img-fluid" alt="">
          </div>
          <div class="col-xl-1 col-lg-1"></div>

          <div class="col-lg-6 col-xl-6">

              <div  class="v-how-work">
                  <h2>Who Pays ?</h2>

                  <h3 class="v-work-h3" style="">For when you can’t make it to one of our locations </h3>
                  <h4>• Tell us where it hurts</h4>
                  <h4>• Pick a time frame you’d like to meet</h4>
                  <h4>• Take a picture of your insurance card</h4>
                  <div class="clearfix"></div>

              </div>
          </div>
      </div>
  </div>
</section>
