<div class="card" >
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
    <!-- <tabset #staticTabs type="text">
      <tab heading="Dashboard"></tab>
      <tab heading="Scheduler"></tab>
      <tab heading="General Requests"></tab>
      <tab heading="Work Calander"></tab>

    </tabset> -->

    <ul class="nav nav-tabs " style="width: 100%;">
      <li class="active">
        <a href="#tab_default_1" data-toggle="tab">
        <h3 > Dashboard </h3></a>
      </li>
      <li>
        <a href="#tab_default_2" data-toggle="tab">
        <h3>  Scheduler</h3> </a>
      </li>
      <li>
        <a href="#tab_default_3" data-toggle="tab">
         <h3> General Requests</h3> </a>
      </li>
    <li>
        <a href="#tab_default_4" data-toggle="tab">
        <h3>  Work Calander </h3></a>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <button class="btn"><h3>+ New Appointment</h3></button>
  </div>
  <div class="col-md-1">

  </div>
  </div>
  </div>
</div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Reports</h3>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
							<p>
 Tab 1.
							</p>
							<p>
								lorem
							</p>
							</div>
						<div class="tab-pane" id="tab_default_2">
							<p>
Tab 2.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</p>

						</div>
						<div class="tab-pane" id="tab_default_3">
							<p>
Tab 3.
							</p>
							<p>
Consectetur deleniti quisquam natus eius commodi.
							</p>

						</div>
           <div class="tab-pane" id="tab_default_4">
							<p>
Tab 4.
							</p>
							<p>
Consectetur deleniti quisquam natus eius commodi.
							</p>

						</div><div class="tab-pane" id="tab_default_5">
							<p>
Tab 5.
							</p>
							<p>
Consectetur deleniti quisquam natus eius commodi.
							</p>

						</div>
					</div>
				</div>
			<!-- </div> -->

    </div>
  </div>
<!-- </div> -->
