
// ------------- Demographics -------------
#dialogbounceright .ui-dialog{
  -webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
// ------------- Demographics -------------

// sujit start

@media (min-width: 768px){
  #editFIlter .ui-dialog {
    padding: 0;
    left: 700px !important;
    width: 600px;
    z-index: 100;
    // margin-top: -295px;
}

}
#displayColum .ui-dialog {
  width: 600px;
  left: 700px !important;
  top: 50px;
  z-index: 100;
}
#displayColum .ui-dialog .ui-dialog-content {
  height: 920px;
  overflow: auto;
}

#filterFields .ui-dialog {
  width: 600px;
  left: 700px !important;
  top: 50px;
  z-index: 100;
}
#filterFields .ui-dialog .ui-dialog-content {
  height: 920px;
  overflow: auto;
}
#editAppt .ui-dialog {
  width: 1000px;
  left: 500px !important;
  top: 50px;
  z-index: 100;
}
#editAppt .ui-dialog .ui-dialog-content {
  height: 520px;
  overflow: auto;
}
#searchProv .ui-dialog {
  width: 1000px;
  left: 500px !important;
  top: 50px;
  z-index: 100;
}
#searchProv .ui-dialog .ui-dialog-content {
  height: 520px;
  overflow: auto;
}
#editEpisode .ui-dialog {
  width: 1000px;
  left: 500px !important;
  top: 50px;
  z-index: 100;
}
#editEpisode .ui-dialog .ui-dialog-content {
  height: 350px;
  overflow: auto;
}
#caseMangmemo .ui-dialog {
  width: 600px;
  left: 700px !important;
  top: 50px;
  z-index: 100;
}
#caseMangmemo .ui-dialog .ui-dialog-content {
  height: 200px;
  overflow: auto;
}
#addmop .ui-dialog {
  width: 600px;
  left: 700px !important;
  top: 50px;
  z-index: 100;
}
#addmop .ui-dialog .ui-dialog-content {
  height: 220px;
  overflow: auto;
}
#addmemo .ui-dialog {
  width: 1000px;
  left: 500px !important;
  top: 50px;
  z-index: 100;
}
#addmemo .ui-dialog .ui-dialog-content {
  height: 550px;
  overflow: auto;
}
#tagmember .ui-dialog {
  width: 1000px;
  left: 500px !important;
  top: 50px;
  z-index: 100;
}
#tagmember .ui-dialog .ui-dialog-content {
  height: 550px;
  overflow: auto;
}
.ui-calendar {
  position: relative;
  display: inline-block;
  width: 100% !important;
}
.ui-inputgroup .ui-inputtext {
  padding-left: .5em;
  width: 100% !important;
}

/* Drop Down List Start*/

body {padding: 30px; position: relative}
        .sortable-item {
      padding: 6px 12px;
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 1.4em;
      text-align: center;
      cursor: grab;
      border: 1px solid transparent;
      border-radius: 4px;
      border-color: #adadad;
    }

    .sortable-item-active {
      background-color: #e6e6e6;
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }

    .sortable-wrapper {
      min-height: 150px;
    }
#searchSurgeryPopup .ui-dialog{
	z-index: 1011;
	left: 400px !important;
	top: 40px !important;
	transform: none;
	opacity: 1;
	width: 900px !important;
}

/* Drop Down List End */

// sujit end
