@import "~../../../assets/CSS/plugins.css";
@import "~../../../assets/CSS/Bundle-Layout.css";
.chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 5px 12px;
    height: 34px !important;
    border-left: 1px solid #CCC !important;
    border-top: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-bottom: 2px solid #37cb95 !important;
    background-color: #fff;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #555;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}

.fa {
    display: inline-block;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}


#dvPayorReportContainer, .e-headercelldiv, .e-rowcell {
    font-size: 10px !important;
}

.e-grid .e-gridheader .e-icon {
    font-size: 9px !important;
}

.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.fa[_ngcontent-jrk-c1] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  @media (min-width: 1200px){
  .col-lg-12 {
      width: 100%;
  }
  }
  @media (min-width: 1200px){
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
  }
  }

  .m-b-sm {
    margin-bottom: 10px;
  }

  .ibox-content {
    clear: both;
  }

  .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;

    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
  }

  .border-bottom {
    border-bottom: 1px solid #e7eaec !important;
  }

  @media (min-width: 992px){
  .col-md-3 {
      width: 25%;
  }
  }
  @media (min-width: 992px){
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
  }
  }

  @media (min-width: 992px){
  .col-md-2 {
      width: 16.66666667%;
  }
  }

  @media (min-width: 992px){
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
  }
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }

  label, .btn, .nav-tabs > li > a, .badge {
    font-weight: normal !important;
  }

  #txtMemberName.form-control {
    background-color: #FFFFFF;
    background-image: none;

    color: inherit;
    display: block;
    padding: 6px 12px;
    width: 100% !important;
    font-size: 14px;
    border-left: 1px solid #CCC !important;
    border-top: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-bottom: 2px solid #36cc95 !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
     height: 0px !important;
     padding: 0px !important;

  }
  .form-control {
    background-color: #FFFFFF;
    background-image: none;

    color: inherit;
    display: block;
    padding: 6px 12px;
    width: 100% !important;
    font-size: 14px;
    border-left: 1px solid #CCC !important;
    border-top: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-bottom: 2px solid #36cc95 !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;

  }
  .formcontrol.ui-dropdown{
     background-color: #FFFFFF;
     background-image: none;

     color: inherit;
     display: block;
     padding: 6px 12px;
     width: 100% !important;
     font-size: 14px;
     border-left: 1px solid #CCC !important;
     border-top: 1px solid #CCC !important;
     border-right: 1px solid #CCC !important;
     border-bottom: 2px solid #36cc95 !important;
     -moz-border-radius: 0px !important;
     -webkit-border-radius: 0px !important;
     border-radius: 0px !important;
   }

  .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .chosen-container-single .chosen-single {
    position: relative !important;
    display: block !important;
    overflow: hidden !important;
    padding: 5px 12px !important;
    height: 34px !important;
    border-left: 1px solid #CCC !important;
    border-top: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-bottom: 2px solid #37cb95 !important;
    background-color: #fff;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #555;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
  }

  .chosen-container-single .chosen-single {
    background: #ffffff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-bottom: 2px solid #37cb95 !important;
    background-color: #fff;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    cursor: text;
    height: auto !important;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 4px 12px;
    position: relative;
    width: 100%;
  }

  .chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
  }

  .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  }

  .chosen-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
  }

  .chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
  }
  .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 5px;

  }
  b, strong {
    font-weight: bold;
  }
  .chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
  }
  :host >>>.ui-dropdown {
    display: block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    min-width: 12.5em;
  }

  body .ui-dropdown {
    background: #ffffff;
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s;
    border-left: 1px solid #CCC !important;
    border-top: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-bottom: 2px solid #36cc95 !important;
  }
  .btn-primary {
    background-color: #848484;
    border-color: #999999;
    color: #FFFFFF;
    -moz-box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
    box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  label, .btn, .nav-tabs > li > a, .badge {
    font-weight: normal !important;
  }
  .wrapper-content {
    padding: 20px 10px 40px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color: white;
      font-size: 13px;
      color: #676a6c;
  }
  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
  }
  .m-b-sm {
    margin-bottom: 10px;
  }
  .m-t-n-xl {
    margin-top: -40px;
  }
  .ibox-content {
    clear: both;
  }
  .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;

    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
  }
  .border-bottom {
    border-bottom: 1px solid #e7eaec !important;
  }
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    width: 5%;
  }
  .custompagination {
    margin: 10px 0;
  }
  .pull-right {
    float: right !important;
  }
  .custompagination .pagerInfo {
    margin-top: -10px;
  }
  .label {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
  }
  .custompagination ul > li {
    display: inline;
  }
  .custompagination ul > li > select {
    float: left;
    height: 30px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
  }
  .custompagination ul > li:last-child > a, .custompagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
  }
  .custompagination ul > li > a, .custompagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
  }

  .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
  }
  .btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  .inmodal .modal-body {
    background: #f8fafb;
  }
  .modal-body {
    padding: 20px 30px 30px 30px;
  }
  .modal-body {
    position: relative;
    padding: 15px;
  }
  @media (min-width: 768px){
  .col-sm-3 {
      width: 25%;
  }
  }

  @media (min-width: 768px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }
  }

  @media (min-width: 768px){
  .col-sm-4 {
      width: 33.33333333%;
  }
  }

  @media (min-width: 768px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
  }
  @media (min-width: 768px){
  .col-sm-2 {
      width: 16.66666667%;
  }
  }

  @media (min-width: 768px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
  label, .btn, .nav-tabs > li > a, .badge {
    font-weight: normal !important;
  }
  @media (min-width: 992px){
  .col-md-12 {
      width: 100%;
  }
  }
  @media (min-width: 992px){
  .col-md-6 {
      width: 50%;
  }
  }
  .forum-container, .forum-post-container {
    padding: 30px !important;
  }
  .panel-body {
    padding: 15px;
  }
  @media (min-width: 768px){
  .col-sm-3 {
      width: 25%;
  }
  }

  .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 992px){
  .col-md-3 {
      width: 25%;
  }
  }
  @media (min-width: 992px){
  .col-md-1 {
      width: 8.33333333%;
  }
  }

  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  .p-l-sm {
    margin-left: 10px;
  }

  .btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
  }

  @media (min-width: 768px){
  .col-sm-6 {
      width: 50%;
  }
  }

  div.tagsinput {
    border: 1px solid #dadada;
    background: #fff;
    padding: 5px;
    width: 100%;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  div.tagsinput div {
    display: block;
    float: left;
    position: relative;
  }

  @media (min-width: 768px){
  .col-sm-6 {
      width: 50%;
  }
  }
  .ibox-content {
    clear: both;
  }

  .ibox-content {
    background-color: #ffffff;

    padding: 15px 20px 20px 20px;

    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
  }

  .form-group {
    margin-bottom: 15px;
  }

  @media (min-width: 768px){
  .col-sm-4 {
      width: 33.33333333%;
  }
  }
  @media (min-width: 768px){
  .col-sm-8 {
      width: 66.66666667%;
  }
  }
  @media (min-width: 992px){
  .col-md-3 {
      width: 25%;
  }
  }
  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .inmodal .modal-header {
    padding: 30px 15px;
    text-align: center;
  }

  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
  }
  h3 {
    font-size: 16px;
  }
  .modal-content {
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: 0 none;
    position: relative;
  }


  body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    color: #ffffff;
    background-color: #36cc95 ;
  }
  :host {
    color: #ffffff;
    background-color: #36cc95 ;
    ;
  }
  .inmodal .modal-header {
    padding: 30px 15px;
    text-align: center;
  }
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }

  .inmodal .modal-body {
    background: #f8fafb;
  }
  .modal-body {
    padding: 20px 30px 30px 30px;
  }
  .modal-body {
    position: relative;
    padding: 15px;
  }
  @media (min-width: 992px){
  .col-md-4 {
      width: 33.33333333%;
  }
  }
  a {
    color: #337ab7;
    text-decoration: none;
  }

  a {
    cursor: pointer;
  }

  .btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .modal-footer {
    margin-top: 0;
  }

  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }
  .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #CCC;
    opacity: 1;
  }

   .modal-size{

     max-width: 560px;
   }

   .ui-dialog-content.ui-widget-content {
     width: 560px;
   }
  :host {

      width: 560px;
    }


  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
  textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid grey;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .icheckbox_square-green {
    display: inline-block;
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
  }
  .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }


  .input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.labelcolor{
  color: grey;
}



.dropzone {
border: 2px dashed #37cb93;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: white;
min-height: 150px;
padding: 10px 10px;
width: 100%;
cursor: pointer;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
cursor: pointer;
}

.dropzone .dz-message {
font-weight: 400;
text-align: center;
margin: 2em 0;
}

.dropzone, .dropzone * {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

#S3Files {
display: block;
margin: -115px 0px 0px 0px;
/*border: 1px solid #000;*/
width: 100%;
height: 150px;
opacity: 0;
cursor: pointer;
}

//From here added by prabhu
.paddingTitle{
  padding: 5px;
}

::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
  background-color: #19aa8d;
  background: #19aa8d;
}

#addSurgeryPopup .ui-dialog {
  top: 20px !important;
  padding: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  width: 95% !important;
  left: 100px !important;
}
::ng-deep .ui-dialog .ui-dialog-titlebar {
  padding: .5em .75em;
  position: relative;
  border: 0px !important;
  background: white !important;
}

::ng-deep .ui-dialog .ui-dialog-content {
  background-color: #ffffff;
  color: #333333;
  border: 0px !important;
  padding: 0.571em 1em;
}
::ng-deep .ui-autocomplete .ui-autocomplete-input {
  border: 0px;
}

::ng-deep .ui-dialog {
  top:20px !important;
}
.paddingLR{
  padding-left: 40px;
  padding-right: 40px;
}
::ng-deep .ui-tabview .ui-tabview-panels {
  background-color: #ffffff;
  padding: 0.571em 1em;
  border: 0px !important;
  color: #333333;
}
::ng-deep .tab-content {
  margin-top: -1px;
  background: #fff;
  border: 0px !important;
}
::ng-deep .ui-accordion .ui-accordion-header a {
  padding: 0.571em 1em;
  border: 0px solid #c8c8c8 !important;
  color: #333333;
  background-color: #007ad9 !important;
  color: white !important;
  font-weight: 700;
  transition: background-color 0.2s;
}
::ng-deep .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: white !important;
}
::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li, body .ui-tabview.ui-tabview-left .ui-tabview-nav li, body .ui-tabview.ui-tabview-right .ui-tabview-nav li {
  background: #1c2140 !important;
  color: #FFF !important;
}

::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
  border: 0px;
  background: #19aa8d !important;
  border: 0px !important;
}

::ng-deep .ui-tabview .ui-tabview-title {
  vertical-align: middle !important;
  color: #FFF !important;
}

::ng-deep hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  /* border-top: 1px dashed #CCC; */
  border-top: 2px dashed #DFDFE4 !important;
}
.textColor{
  color: gray;
}
